select,
input {
    line-height: 1;
}

body,
button,
input[type="button"],
input[type="submit"],
textarea { 
    line-height: 1.85714285714286;
}

.site-title a {
	line-height: 1;
}

.site-header .site-description {
    line-height: 1.5;
}

.leap-single-post .entry-title,
.leap-single-post .entry-title a {
    line-height: 1.2;
}

.entry-title,
.entry-title a {
	font-weight: normal;
}