
::selection {
    color: #fff;
    background: $color-link;
}

html {
	overflow-y: scroll;
}

body {
    &:not(.logged-in) {
        position: relative;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#page {
    position: relative;
}

a,
a:focus {
	text-decoration: none;
}

a,
.site-header a *,
.site-footer a *,
.secondary a * {
    @include leap-transition();
}

.capitalize {
	text-transform: uppercase;
}

img {
    vertical-align: middle;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 
{
    margin-bottom: 20px;
}

p {
   margin-bottom: 1.75em;
}

blockquote {
    margin: 1.5em 1em 1.5em 3em;
    padding: 1.2em;
    font-size: 1.1em;
    line-height: inherit;
    position: relative;
}

.leap-button,
.button,
input[type="button"],
input[type="submit"] {
    border-radius: 0;
    padding: 18px 30px;
   	border: 0;
    box-shadow: none;
    text-shadow: none;

    &:hover {
        box-shadow: none;
    }

    &:active,
    &:focus {
        box-shadow: none;
    }
}

.site-title {
    display: flex;
    font-weight: normal;
}

.site-title,
.site-description {
    margin-bottom: 0;

    a,
    &:hover a,
    &:focus a {
        @include leap-transition();
    }
}

.site-description a,
.site-description a:focus,
.site-description a:hover,
.site-description a:visited {
    color: $color-site-tagline;
}

.leap-header-break-point {
    .main-header-bar {
        .main-header-bar-navigation {
            .leap-search-icon {
                display: none;
            }
        }
    }
    
    .leap-search-menu-icon .search-field,
    .leap-search-menu-icon.leap-inline-search .search-field {
        padding-right: 5.5em;
    }

    .leap-search-menu-icon {
        &.search-box{
            .search-submit {
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                padding: 0 1em;
                border-radius: 0;
            }
        }
    }
    .leap-search-menu-icon .search-form {
        padding: 0;
        display: block;
    }
}

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
    background-color: #f1f1f1;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #21759b;
    display: block;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    left: -9999em;
    outline: none;
    padding: 15px 23px 14px;
    text-decoration: none;
    text-transform: none;
    top: -9999em;
    
    &:focus {
        clip: auto;
        height: auto;
        left: 6px;
        top: 7px;
        width: auto;
        z-index: 100000;
    }

    .logged-in & {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
        font-family: "Open Sans", sans-serif;
    }
}