/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Imports
 */
@import 'mixins';
@import 'variables';

/**
 * Wiz Theme compatibility with WooCommerce
 */
@import "../../variables-site/structure";

/**
 * Styling begins
 */
.woocommerce, .woocommerce-page {

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		.button {
			float: right;
		}
	}

	/**
	 * General layout styles
	 */
	.col2-set {
		@include clearfix();
		width: 100%;

		.col-1 {
			float: left;
			width: 48%;
		}
		.col-2 {
			float: right;
			width: 48%;
		}
	}

	img {
		height: auto;
		max-width: 100%;
	}

	/**
	 * Product page
	 */
	div.product,
	#content div.product {
		div.images {
			float: left;
			width: 48%;
		}

		div.thumbnails {
			@include clearfix();

			a {
				float: left;
				width: 30.75%;
				margin-right: 3.8%;
				margin-bottom: 1em;
			}

			a.last {
				margin-right: 0;
			}

			a.first {
				clear: both;
			}

			&.columns-1 {
				a {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			&.columns-2 {
				a {
					width: 48%;
				}
			}

			&.columns-4 {
				a {
					width: 22.05%;
				}
			}

			&.columns-5 {
				a {
					width: 16.9%;
				}
			}
		}

		div.summary {
			float: right;
			width: 48%;
			clear: none;
		}

		.woocommerce-tabs {
			clear: both;

			ul.tabs {
				@include menu();
			}
		}

		#reviews {
			.comment {
				@include mediaright();
			}
		}
	}

	/**
	 * Product loops
	 */
	ul.products {
		display: flex;
    	flex-wrap: wrap;
		clear: both;
		@include clearfix();

		li.product {
			float: left;
			margin: 0 20px 2.992em 0;
			padding: 0;
			position: relative;
			width: 22.05%;
			margin-left: 0;
		}
	}

	ul.products {
		&.columns-1 {
			li.product {
				width: 100%;
				margin-right: 0;
			}
		}
		&.columns-2 {
			li.product {
				width: 48%;
			}
		}
		&.columns-3 {
			li.product {
				width: 30.75%;
			}
		}
		&.columns-5 {
			li.product {
				width: 16.95%;
			}
		}
		&.columns-6 {
			li.product {
				width: 13.5%;
			}
		}
	}

	&.columns-1 {
		ul.products {
			li.product {
				width: 100%;
				margin-right: 0;
			}
		}
	}

	&.columns-2 {
		ul.products {
			li.product {
				width: 48.4%;
				width: calc(50% - 10px);

				&:nth-child(2n) {
					margin-right: 0;
					clear: right;
				}
				&:nth-child(2n+1) {
					clear: left;
				}
			}
		}
	}

	&.columns-3 {
		ul.products {
			li.product {
				width: 31.2%;
				width: calc( 33.33% - 14px );

				&:nth-child(3n) {
					margin-right: 0;
					clear: right;
				}
				&:nth-child(3n+1) {
					clear: left;
				}
			}
		}
	}

	&.columns-4 {
		ul.products {
			li.product {
				width: 22.5%;
				width: calc( 25% - 15px );

				&:nth-child(4n) {
					margin-right: 0;
					clear: right;
				}
				&:nth-child(4n+1) {
					clear: left;
				}
			}
		}
	}

	&.columns-5 {
		ul.products {
			li.product {
				width: 17.5%;
				width: calc( 20% - 16px );

				&:nth-child(5n) {
					margin-right: 0;
					clear: right;
				}
				&:nth-child(5n+1) {
					clear: left;
				}
			}
		}
	}

	&.columns-6 {
		ul.products {
			li.product {
				width: 14%;
				width: calc( 16.66% - 16.66px );

				&:nth-child(6n) {
					margin-right: 0;
					clear: right;
				}
				&:nth-child(6n+1) {
					clear: left;
				}
			}
		}
	}

	@media( max-width: $mx-col-md ) and ( min-width: $col-sm ) {

			// Set default 3 columns for tab.
			// Added this to support woocommerce shortcodes.
			&[class*='columns-']{
				&.columns-3,
				&.columns-4,
				&.columns-5,
				&.columns-6 {
					> ul.products {
						li.product {
							width: 30.2%;
							width: calc(33.33% - 14px);
							margin-right: 20px;
							&:nth-child(3n) {
								margin-right: 0;
								clear: right;
							}
							&:nth-child(3n+1) {
								clear: left;
							}
						}
					}
				}
			}
			&[class*='columns-'] {
				ul.products {
					li.product:nth-child(n) {
						margin-right: 20px;
						clear: none;
					}
				}
			}

			&.tablet-columns-1 {
				ul.products {
					li.product {
						width: 100%;
					} 
				}
			}
			&.tablet-columns-2 {
				ul.products {
					li.product {
						width: 47.6%;
						width: calc(50% - 10px);
						&:nth-child(2n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(2n+1) {
							clear: left;
						}
					}
				}
			}
			&.tablet-columns-3 {
				ul.products {
					li.product {
						width: 30.2%;
						width: calc(33.33% - 14px);
						&:nth-child(3n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(3n+1) {
							clear: left;
						}
					}
				}
			}
			&.tablet-columns-4 {
				ul.products {
					li.product {
						width: 21.5%;
						width: calc(25% - 15px);
						&:nth-child(4n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(4n+1) {
							clear: left;
						}
					}
				}
			}
			&.tablet-columns-5 {
				ul.products {
					li.product {
						width: 16.2%;
						width: calc(20% - 16px);
						&:nth-child(5n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(5n+1) {
							clear: left;
						}
					}
				}
			}
			&.tablet-columns-6 {
				ul.products {
					li.product {
						width: 12.7%;
						width: calc(16.66% - 16.66px);
						&:nth-child(6n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(6n+1) {
							clear: left;
						}
					}
				}
			}
		}

		@media( max-width: $mx-col-sm ) {

			// Set default 2 columns for mobile.
			// Added this to support woocommerce shortcodes.
			&[class*='columns-']{
				&.columns-3,
				&.columns-4,
				&.columns-5,
				&.columns-6 {
					> ul.products {
						li.product {
							width: 46.1%;
							width: calc(50% - 10px);
							margin-right: 20px;
							&:nth-child(2n) {
								margin-right: 0;
								clear: right;
							}
							&:nth-child(2n+1) {
								clear: left;
							}
						}
					}
				}
			}

			&[class*='columns-'] {
				ul.products {
					li.product:nth-child(n) {
						margin-right: 20px;
						clear: none;
					}
				}
			}

			&.mobile-columns-1 {
				ul.products {
					li.product {
						width: 100%;
						&:nth-child(n){
							margin-right: 0;
						}
					}
				}
			}
			&.mobile-columns-2 {
				ul.products {
					li.product {
						width: 46.1%;
						width: calc(50% - 10px);
						&:nth-child(2n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(2n+1) {
							clear: left;
						}
					}
				}
			}
			&.mobile-columns-3 {
				ul.products {
					li.product {
						width: 28.2%;
						width: calc(33.33% - 14px);
						&:nth-child(3n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(3n+1) {
							clear: left;
						}
					}
				}
			}
			&.mobile-columns-4 {
				ul.products {
					li.product {
						width: 19%;
						width: calc(25% - 15px);
						&:nth-child(4n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(4n+1) {
							clear: left;
						}
					}
				}
			}
			&.mobile-columns-5 {
				ul.products {
					li.product {
						width: 13%;
						width: calc(20% - 16px);
						&:nth-child(5n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(5n+1) {
							clear: left;
						}
					}
				}
			}
			&.mobile-columns-6 {
				ul.products {
					li.product {
						width: 10.2%;
						width: calc(16.66% - 16.66px);
						&:nth-child(6n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(6n+1) {
							clear: left;
						}
					}
				}
			}

		}

	.woocommerce-result-count {
		float: left;
	}
	.woocommerce-ordering {
		float: right;
	}

	.woocommerce-pagination {
		ul.page-numbers {
			@include menu();
		}
	}

	/**
	 * Cart page
	 */
	table.cart,
	#content table.cart {
		img {
			height: auto;
		}

		td.actions {
			text-align: right;

			.input-text {
				width: 80px;
			}

			.button	{
				line-height: 1;
				border-width: 1px;
				border-style: solid;
				@media (max-width: $mx-col-sm) {
					padding-left: 1em;
					padding-right: 1em;
				}
			}

			.coupon {
				float: left;

				label {
					display: none;
				}
			}

			@media (min-width: $col-sm) {
				& > input[type="submit"] {
					margin: 5px auto;
				}
			}
		}
	}

	.cart-collaterals {
		@include clearfix();
		width: 100%;

		.related {
			width: 30.75%;
			float: left;
		}

		.cross-sells {
			width: 48%;
			float: left;

			ul.products {
				float: none;

				li {
					width: 48%;
				}
				li.first {
					clear: both;
				}

				li.last {
					margin-right: 0;
				}
			}
		}

		.shipping_calculator {
			width: 48%;
			@include clearfix();
			clear: right;
			float: right;

			.col2-set {
				.col-1,
				.col-2 {
					width: 47%;
				}
			}
		}

		.cart_totals {
			float: right;
			width: 48%;
		}
	}

	/**
	 * Cart sidebar
	 */
	ul.cart_list,
	ul.product_list_widget {
		li {
			@include mediaright();
		}
	}

	/**
	 * Forms
	 */
	form {
		.form-row {
			@include clearfix();

			label {
				display: block;

				&.checkbox {
					display: inline;
				}
			}

			select {
				width: 100%;
			}

			.input-text {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.form-row-first,
		.form-row-last {
			width: 47%;
			overflow: visible;
		}

		.form-row-first {
			float: left;
		}

		.form-row-last {
			float: right;
		}

		.form-row-wide {
			clear: both;
		}
	}

	#payment {
		.form-row {
			select {
				width: auto;
			}
		}

		.wc-terms-and-conditions, .terms {
			text-align: left;
			padding: 0;
			width: 100%;
			margin-bottom: 1em;
		}

		#place_order {
			float: right;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields {
		@include clearfix();
	}

	.woocommerce-terms-and-conditions {
		margin-bottom: 1.618em;
		padding: 1.618em;
	}

	/**
	 * oEmbeds
	 */
	.woocommerce-oembed {
		position: relative;
	}
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: left;
		width: 30%;
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 68%;

		fieldset{
			border:0;
			margin: 1em 0 0;
			padding: 3px;

			legend {
				padding: 3px 0;
				border-bottom: 1px solid #e5e5e5;
				width: 100%;
				margin: 10px 0;
			}

			.form-row{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
