/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 */

/**
 * Imports
 */
@import 'mixins';
@import 'variables';
@import 'animation';
@import 'fonts';

/**
 * Wiz Theme compatibility with WooCommerce
 */
@import "../../mixins/mixins-master";
@import "../../../grid/variables";
@import "../../variables-site/structure";
@import "../../variables-site/colors";

/**
 * Global styles
 */
p.demo_store,
.woocommerce-store-notice {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: $primary;
	color: $primarytext;
	z-index: 99998;
	box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
	display: none;

	a {
		color: $primarytext;
		text-decoration: underline;
	}
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.admin-bar p.demo_store {
	top: 32px;
}

/**
 * Utility classes
 */
.clear {
	clear: both;
}

/**
 * Header Cart Icon with shopping cart.
 */
.woocommerce .leap-site-header-cart,
.leap-site-header-cart {
	/* Cart wrapper in header. */
	position: relative;
	list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    order: 1;

    	&:focus,
    	&:hover {
	        .widget_shopping_cart {
	            right: 0;
	    		left: auto;
	            opacity:1;
	            visibility: visible;
	        }
    	}
		.leap-shopping-cart-icon{
			display: initial;
			vertical-align: middle;
			&:before{
				content: "\e854";
				font-family: 'Wiz';
				font-size: 18px;
				font-size: 1.2857rem;
			}
		}

	.leap-site-header-cart-data {
		.widget_shopping_cart_content > ul {
			text-align: left;
			width: auto;
			position: static;
			left: auto;
			top: auto;
			border-top: 0;
		}
		.woocommerce-mini-cart__empty-message{
			text-align: left;
		}
	}

	/* Cart container in header. */
    .widget_shopping_cart {
    	background-color: #fff;
        position: absolute;
        top: 100%;
        width: 280px;
        z-index: 999999;
        font-size: .875em;
        left: -999em;
        display: block;
        line-height: 1.618;
        box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.07);
        transition: all 0.3s ease;
        border: 2px solid #E6E6E6;
        opacity: 0;
        visibility: hidden;

    	&:after,
    	&:before {
			bottom: 100%;
			left: auto;
			right: 8px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 6px;
		    margin-left: -6px;
			margin-bottom: -0.3px;
		}
		
		&:before {
			border-color: rgba(230, 230, 230, 0);
			border-bottom-color: #E6E6E6;
			border-width: 9px;
			margin-left: -5px;
			right: 5px;
		}

       .product_list_widget {
           padding: 1em 1.5em;
           max-height: 500px;
           max-height: 50vh;
           overflow-y: auto;
        	li{
				padding: .5em 2em .5em 5em;
				border-bottom: 1px solid rgba(0,0,0,.05);

				&:last-child{
					border-bottom: 0;
				}
				img{
					max-width: 4em;
					margin: 0 0 .5em 0;
				}
        	}
        }

		p.buttons, 
		p.total {
			padding: 1em 1.5em;
			margin: 0;
			text-align: center;
		}

		.buttons {
			.button{
				&,
				&.wc-forward {
					display: block;
					margin-right: 0;
					width: 100%;
					margin-left: 0;
				}
			}
		}

		.woocommerce-mini-cart__empty-message {
			margin: 1.41575em;
		}

		.cart_list{
			a {
				font-weight: normal;
				padding:0;
				border-width: 0;
				&.remove{
					border-width: 1px;
				}
			}
		}
    }
}

.main-header-bar-wrap {
	
	.leap-site-header-cart {
		.widget_shopping_cart {
			.cart_list{
				a.remove {
					color: #ccc;
				}
			}
		}
	}
}

.woocommerce .header-main-layout-2 .main-header-bar-wrap,
.header-main-layout-2 .main-header-bar-wrap {
	.leap-site-header-cart {
		.widget_shopping_cart {
			right: auto;
			left: 0;
			transition: left 0s;
			
			&:before,
			&:after {
				left: 15px;
				right: auto;
			}

			&:before {
				left: 11px;
				right: auto;
			}
		}
	}
}

.leap-cart-menu-wrap {
	display: inline-block;
	line-height: 1;
	.count {
		font-size: 1.3em;
		
		&:before{
			content: "\e903";
			display: inline-block;
			font-family: 'Wiz-font';
			font-size: 1.6rem;
			font-weight: 500;
			text-rendering: auto;
			margin-bottom: 8px;
			vertical-align: middle;
		}
	}
}

.leap-woocommerce-cart-menu{

	.main-header-menu {
		.woocommerce-custom-menu-item{
			li:hover > a.remove{
				color: #ccc;
			}
		}
	}

	/** 
	 * Header layout 1
	 * if no primary menu & no custom menu items
	 */
	 .header-main-layout-1 {
	 	&.leap-no-menu-items {
    	 	.leap-site-header-cart {
    	 		flex: 1;

    	 		.leap-site-header-cart-li {
    	 			text-align: right;
    	 		}
    	 	}
	 	}
	 }

	 /** 
	 * Header layout 3
	 */
	 .header-main-layout-2 {
		/* No primary menu & no custom menu items */
		&.leap-no-menu-items {
    	 	.leap-site-header-cart {
    	 		flex: 1;

    	 		.leap-site-header-cart-li {
    	 			text-align: left;
    	 		}
    	 	}
	 	}
	}

		/** 
	 * Header layout 2
	 */
	.header-main-layout-3 {
    	.main-header-container{
    		display: flex; 
			justify-content: center;
    	}
    	.site-branding{
    		flex: 0 0 100%;
    	}
    }
}

/**
 * Header Cart Icon with shopping cart for responsive devices.
 */
.leap-header-break-point{
	.woocommerce-custom-menu-item .leap-cart-menu-wrap {
		width: 2em;
	    height: 2em;
	    font-size: 1.4em;
	    line-height: 2;
	    vertical-align: middle;
	    text-align: right;
	}
	.leap-button-wrap .main-header-menu-toggle {
	    font-size: 1.4em;
	}

	.main-header-menu .woocommerce-custom-menu-item .leap-cart-menu-wrap {
	    height: 3em;
	    line-height: 3;
	    text-align: left;
	}

	#leap-site-header-cart .widget_shopping_cart {
		display: none;
	}

	&.leap-woocommerce-cart-menu{

		.leap-site-header-cart { 
	        order: initial;
			line-height: 3;
			padding: 0 1em 1em 0;

	    }

	    .header-main-layout-2 {
	    	.leap-site-header-cart{
	        	padding: 0 0 1em 1em;
	        }
	    }

	    &.leap-header-custom-item-outside {
	    	.leap-site-header-cart{
	        	padding: 0;
	        }
	    }


    	@media (max-width: $mx-col-sm) {
	     	.header-main-layout-1,
	     	.header-main-layout-2 {
	    	 	&.leap-mobile-header-stack{
	    	 		&.leap-no-menu-items {
	    	 			.leap-site-header-cart{
	    	 				padding-right: 0;
	    	 				padding-left: 0;
	    	 			}
	    	 		}
	    	 		.main-header-bar{
	    	 			text-align: center;
	    	 		}
	    	 		.leap-site-header-cart {
	    	 			display: inline-block;
	    	 		}
	    	 		.leap-mobile-menu-buttons {
	    	 			display: inline-block;
	    	 		}
    	 		}
			}
			.header-main-layout-3 {
				&.leap-mobile-header-inline{
					.site-branding{
						flex: auto;
					}
				}
			}
			.header-main-layout-2{
		 		&.leap-mobile-header-stack{
		 			.site-branding {
		 				flex: 0 0 100%;
		 			}
		 			.main-header-container {
		 			    display: flex; 
						justify-content: center;
					}
		 		}
			}
    	}
	}

	.leap-sitehead-custom-menu-items.woocommerce-custom-menu-item {
		margin-bottom: 0;
		margin-top: 0;

		.leap-site-header-cart {
			padding: 0;

			a {
				border: none;
			}
		}
	}
}

/**
 * Main WooCommerce styles
 */
.woocommerce {
	.blockUI.blockOverlay {
		position: relative;
		@include loader();
	}

	.loader {
		@include loader();
	}

	h2 {
		margin-bottom: 0.7em;
	}

	a.remove {
		display: block;
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 400;
		font-size: 18px;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 21px;
		border-radius: 100%;
		color: #ccc;
		text-decoration: none;
		border: 1px solid #ccc;
	}

	small.note {
		display: block;
		color: $subtext;
		font-size: 0.857em;
		margin-top: 10px;
	}

	.woocommerce-breadcrumb {
		@include clearfix();
		margin: 0 0 1em;
		padding: 0;
		font-size: 0.92em;
		color: $subtext;

		a {
			color: $subtext;
		}
	}

	.quantity {
		input[type="text"],
		input[type="number"],
		input[type="email"] {
	  	  padding: 0.3em;
		}

		input[type="text"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus {
	  	  outline:none;
	  	  border-color:$color-border-input;
		}
		.qty {
			width: 3.631em;
			text-align: center;
			min-height: 35px;
		}
	}

	/**
	 * Product Page
	 */
	div.product {
		margin-bottom: 0;
		position: relative;

		.product_title {
			clear: none;
			margin-top: 0;
			padding: 0;
		}
			
		span.price,
		p.price {
			color: $highlight;
			font-size: 1.5rem;
		    font-weight: 700;
		    margin: 0 0 0.2em;

			ins {
				background: inherit;
				font-weight: 700;
				display: inline-block;
			}

			del {
				opacity: 0.5;
		    	font-weight: normal;
				display: inline-block;
			}
		}

		p.stock,
		p.leap-stock-detail {
			font-size: 1em;
			.leap-stock-avail{
				font-weight: 700;
			}
		}

		.stock {
			color: $highlight;
		}

		.out-of-stock {
			color: red;
		}

		.product_title {
		    margin: 0 0 0.5em 0;
		}
			
		.product_meta {
			border-top: 1px solid #ebebeb;
    		padding-top: 1em;
    		font-size: .9em;
    		margin: 0 0 0.8em;

			> span {
				display: block;
			}
		}

		.woocommerce-product-rating {
			margin: 0 0 0.5em;
		}

		div.images {
			margin-bottom: 2em;

			img {
				display: block;
				width: 100%;
				height: auto;
				box-shadow: none;
			}

			div.thumbnails {
				padding-top: 1em;
			}

			&.woocommerce-product-gallery {
				position: relative;

				.flex-viewport {
					transform-style: preserve-3d;
					margin-bottom: 1em;
				}
			}

			.woocommerce-product-gallery__wrapper {
				transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;
				margin: 0;
				padding: 0;
			}

			.woocommerce-product-gallery__wrapper .zoomImg {
				background-color: #fff;
			}

			.woocommerce-product-gallery__image:nth-child(n+2) {
				width: 25%;
				display: inline-block;
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: .5em;
				right: .5em;
				font-size: 2em;
				z-index: 9;
				width: 36px;
				height: 36px;
				background: #fff;
				text-indent: -9999px;
				border-radius: 100%;
				box-sizing: content-box;
				backface-visibility: hidden;

				&:before {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					border: 2px solid #000;
					border-radius: 100%;
					position: absolute;
					top: 9px;
					left: 9px;
					box-sizing: content-box;
				}

				&:after {
					content: "";
					display: block;
					width: 2px;
					height: 8px;
					background: #000;
					border-radius: 6px;
					position: absolute;
					top: 19px;
					left: 22px;
					transform: rotate(-45deg);
					box-sizing: content-box;
				}
			}

			.flex-control-thumbs {
				overflow: hidden;
				zoom: 1;
				margin: 0;
				padding: 0;

				li {
					width: 25%;
					float: left;
					margin: 0;
					list-style: none;

					img {
						cursor: pointer;
						opacity: .5;
						margin: 0;

						&.flex-active,
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}

		div.woocommerce-product-gallery--columns-3 {
			.flex-control-thumbs li {

				width: 32%;
				width: calc( 33.33% - 0.7em );
	    		margin-right: 1em;
	    		margin-bottom: 1em;
				
				&:nth-child(3n+1) {
					clear: left;
				}

				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}

		div.woocommerce-product-gallery--columns-4 {
			.flex-control-thumbs li {
				
				width: 24%;
				width: calc( 25% - 0.75em );
	    		margin-right: 1em;
	    		margin-bottom: 1em;
				
				&:nth-child(4n+1) {
					clear: left;
				}

				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}

		div.woocommerce-product-gallery--columns-5 {
			.flex-control-thumbs li {

				width: 18.5%;
				width: calc( 20% - 0.8em );
	    		margin-right: 1em;
	    		margin-bottom: 1em;
				
				&:nth-child(5n+1) {
					clear: left;
				}

				&:nth-child(5n) {
					margin-right: 0;
				}
			}
		}

		div.summary {
			margin-bottom: 2em;
		}

		div.social {
			text-align: right;
			margin: 0 0 1em;

			span {
				margin: 0 0 0 2px;

				span {
					margin: 0;
				}

				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}

			iframe {
				float: left;
				margin-top: 3px;
			}
		}

		.woocommerce-tabs {
			margin-bottom: 2em;
			width: 100%;

			ul.tabs {
				list-style: none;
				padding: 0;
				margin: 0 0 1em;
				overflow: hidden;
				position: relative;
				border-top: 1px solid rgba(0,0,0,.05);

				li {
					border: 0;
					background: none;
					display: inline-block;
					position: relative;
					z-index: 0;
					border-radius: 4px 4px 0 0;
					margin: 0 1em 0 0;
					padding: 0;
					border-radius: 0;
			    
					a {
						display: inline-block;
						padding: 0.5em 0;
						font-weight: 700;
						color: $secondarytext;
						text-decoration: none;

						&:hover {
							text-decoration: none;
							color: lighten( $secondarytext, 10% );
						}
					}

					&.active {
						z-index: 2;
						border-bottom-color: $contentbg;

						a {
							color: inherit;
							text-shadow: inherit;
							outline: none;
						}

						&::before {
							content: ' ';
	    					position: absolute;
	    					width: 100%;
	    					height: 3px;
	    					box-shadow: none;
	    					top: 0;
	    					left: 0;
							border-radius: 0;
						}

						&::after {
							border: none;
					    	box-shadow: none;
						}
					}

					&::before,
					&::after {
						content: ' ';
					    position: absolute;
						bottom: -1px;
						width: 5px;
						height: 5px;
						border: none;
					    box-shadow: none;
					}
				}

				&::before {
					position: absolute;
					content: ' ';
					width: 100%;
					bottom: 0;
					left: 0;
					border-bottom: 1px solid darken( $secondary, 10% );
					z-index: 1;
				}

				li::after,
				&.tabs::before {
				    display: none;
				    border: 0;
				}
			}

			.panel {
				margin: 0 0 1.2em;
				padding: 0;
			}

			.shop_attributes{
				border-style: solid;
				p {
					padding: 0;
				}
				th {
					border-left-width: 1px;
					border-style: solid;
					padding-left: .9em;
				}
				td {
					padding: .5em .5em .5em .9em;
					font-style: normal;
					border-style: solid;
				}
			}
		}
		
		/* No Review for single product */
		&.leap-woo-product-no-review{
			#reviews {
				#comments {
					width: 100%;
				}
				#review_form_wrapper {
					width: 100%;
					padding-left: 0;
				}
				#review_form {
					padding: 1.5em 2em;
				}

				#respond{
					p{
						&.comment-form-author,
						&.comment-form-email{
							margin-bottom: 1em;
						}
					}
				}

				@media (min-width: $col-xl) {
					.comment-form-author,
					.comment-form-email {
						width: 49%;
						display: inline-block;
						input {
							width: 100%;
						}
					}
					.comment-form-author{
						float: left;
					}
					.comment-form-email{
						float: right;
					}
				}
			}
		}

		p.cart {
			margin-bottom: 2em;
			@include clearfix();
		}

		form.cart {
			margin: 0 0 1.2em;

			.leap-woo-single-cart-button-wrap{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
			@include clearfix();

			div.quantity {
				float: left;
				margin: 0 4px 0 0;
			}

			table {
				border-width: 0 0 1px;
				margin: 0 0 1.2em;

				td {
					padding-left: 0;
				}

				div.quantity {
					float: none;
					margin: 0;
				}

				small.stock {
					display: block;
					float: none;
				}
			}

			.variations {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				position: relative;
				margin-bottom: 1em;
				width: 100%;

				td,
				th {
					border: 0;
					line-height: 2em;
					padding-top:0;
					padding-bottom:0;
					padding-right: 0;
					display: block;
				}

				label {
					font-weight: 700;
				}

				select {
					max-width: 100%;
					min-width: 75%;
					display: inline-block;
					width: 100%;
					margin-right: 0;
					padding-top:.5em;
					padding-bottom:.5em;
				}

				td.label {
					vertical-align: middle;
					margin-top: 8px;
    				margin-bottom: 1px;
				}
			}

			.woocommerce-variation-description p {
				margin-bottom: 1em;
			}

			.reset_variations {
				visibility: hidden;
				font-size: 0.83em;
			    position: static;
				display: inline-block;
			    color: inherit;
			    opacity: .6;
			    font-size: 11px;
			    text-transform: uppercase;
			}

			.wc-no-matching-variations {
				display: none;
			}

			.button {
				vertical-align: middle;
				float: left;

				&.single_add_to_cart_button {
					padding: 10px 40px;
				}
			}

			.group_table {
				tr{
					&:last-child{
						td{
							border-bottom: 0;
						}
					}
				}
				td.label {
					padding: 0.5em;
					font-size: .8rem;
					line-height: 1.3;
					font-weight: bold;
				}

				td {
					vertical-align: middle;
					padding-bottom: 0.5em;
					border-right: 0;
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					&:first-child{
						text-align: left;
						width: 4em;
					}
				}

				td.price {
					padding-left: 0.8em;
					font-weight: bold;
					font-size: 0.9rem;
					del{
						opacity: .5;
					}
				}
				.button{
					padding: .8em;
					font-weight: normal;
					font-size: 0.9rem;
					white-space: nowrap;
				}

				.wc-grouped-product-add-to-cart-checkbox {
					display: inline-block;
					width: auto;
					margin: 0 auto;
					transform:scale(1.5, 1.5);
				}
			}

			p.stock {
				line-height: 1.3;
				margin-bottom: 0.8em;
				font-size: .9em;
			}
			.single_variation_wrap{
				width: 100%;
				p {
					margin-bottom: 0.8em;
				}
				.single_variation{
					margin-bottom: 1.2em;
    				border-top: 1px solid #ebebeb;
    				padding-top: 0;
    				border-top: 0;
    			}
			}
		}

		span.onsale {
			min-height: 3.5em;
    		min-width: 3.5em;
			line-height: 3.5em;
		}

		.woocommerce-tabs,
		.related.products {
		    display: block;
		}
		
		.related.products {
			ul.products{
				margin:0;

				li.product {
					width: 22.5%;
					width: calc( 25% - 15px );
				}

				@media( max-width: $mx-col-md ) and ( min-width: $col-sm ) {
					li.product {
						width: 30.2%;
						width: calc(33.33% - 14px);
						&:nth-child(3n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(3n+1) {
							clear: left;
						}
					}
				}

				@media( max-width: $mx-col-sm ) {
					li.product {
						width: 46.1%;
						width: calc(50% - 10px);
						&:nth-child(2n) {
							margin-right: 0;
							clear: right;
						}
						&:nth-child(2n+1) {
							clear: left;
						}
					}
				}
			}

		}
	}

	span.onsale {
		min-width: 3em;
		min-height: 3em;
		line-height: 3em;
		padding: 0;
		font-size: 1em;
		font-weight: normal;
		position: absolute;
		text-align: center;
		top: 0.5em;
		left: 0.5em;
		margin: 0;
		border-radius: 100%;
		background-color: $highlight;
		color: $highlightext;
		-webkit-font-smoothing: antialiased;
		z-index: 9;
	}

	/**
	 * Product loops
	 */
	.products ul,
	ul.products {
		margin: 0 0 1em;
		padding: 0;
		list-style: none outside;
		clear: both;
		@include clearfix();

		&::before,
		&::after {
			width: 0;
		}

		li {
			list-style: none outside;
		}
	}

	ul.products li.product {
		.onsale {
			top: 0;
			right: 0;
			left: auto;
			margin: -0.5em -0.5em 0 0;
		}

		h3,
		.woocommerce-loop-product__title,
		.woocommerce-loop-category__title {
			padding: 0.5em 0;
			margin: 0;
			font-size: 1em;
		}

		a {
			text-decoration: none;
		}

		a img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0 0 1em;
			box-shadow: none;
		}

		strong {
			display: block;
		}

		.star-rating {
			font-size: 0.857em;
		}

		.button {
			margin-top: 1em;
		}

		.price {
			color: $highlight;
			display: block;
			font-weight: normal;
			margin-bottom: 0.5em;
			font-size: 0.857em;

			del {
				color: inherit;
				opacity: 0.5;
				display: inline-block;
			}

			ins {
				background: none;
				font-weight: 700;
				display: inline-block;
			}

			.from {
				font-size: 0.67em;
				margin: -2px 0 0 0;
				text-transform: uppercase;
				color: rgba(desaturate($highlight, 75%), 0.5);
			}
		}
	}

	.woocommerce-result-count {
		margin: 0 0 1em;
	}

	.woocommerce-ordering {
		margin: 0 0 2.5em;

		select {
			vertical-align: top;
			padding: .5em;
		}
	}

	nav.woocommerce-pagination {
		text-align: left;

		ul {
			display: inline-block;
			text-align: center;
			white-space: nowrap;
			padding: 0;
			clear: both;
			border: 0;
			margin: 1px;

			li {
				margin: 0 5px 5px 0;
				border: 1px solid #d3ced2;
				padding: 0;
				float: left;
				overflow: hidden;

				a,
				span {
					margin: 0;
					text-decoration: none;
					padding: 0;
					line-height: 1;
					font-size: 1em;
					font-weight: normal;
					padding: 0.75em;
					display: block;
					min-width: 2.5em;
				}

				span.current,
				a:hover,
				a:focus {
					background: $secondary;
					color: darken( $secondary, 40% );
				}
			}
		}
	}

	/**
	 * Buttons
	 */
	a.button,
	button.button,
	input.button,
	#respond input#submit {
		font-size: 100%;
		margin: 0;
		line-height: 1;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		overflow: visible;
		padding: 0.5em 0.75em;
		font-weight: 700;
		border-radius: 3px;
		left: auto;
		color: $secondarytext;
		background-color: $secondary;
		border: 0;
		display: inline-block;
		background-image: none;
		box-shadow: none;
		text-shadow: none;

		&.loading {
			opacity: 0.25;
			padding-right: 2.618em;

			&::after {
				font-family: 'WooCommerce';
				content: '\e01c';
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
				font-weight: 400;
				position: absolute;
				top: auto;
				right: 1em;
				animation: spin 2s linear infinite;
			}
		}

		&.added::after {
			font-family: 'WooCommerce';
			content: '\e017';
			margin-left: 0.53em;
			vertical-align: bottom;
		}

		&:hover {
			background-color: #111;
			text-decoration: none;
			background-image: none;
			color: $secondarytext;
		}

		&.alt {
			background-color: $primary;
			color: $primarytext;
			-webkit-font-smoothing: antialiased;

			&:hover {
				background-color: #111;
				color: $primarytext;
			}

			&.disabled,
			&:disabled,
			&:disabled[disabled],
			&.disabled:hover,
			&:disabled:hover,
			&:disabled[disabled]:hover {
				background-color: $primary;
				color: $primarytext;
			}
		}

		&:disabled,
		&.disabled,
		&:disabled[disabled] {
			color: inherit;
			cursor: not-allowed;
			opacity: 0.5;
			padding: 0.618em 1em;

			&:hover {
				color: inherit;
				background-color: $secondary;
			}
		}
	}

	.cart .button,
	.cart input.button {
		float: none;
	}

	a.added_to_cart {
		padding: .4em .4em 0;
		display: inline-block;
	}

	/**
	 * Reviews
	 */
	#reviews {
		h2 {
			font-weight: normal;

			small {
				float: right;
				color: $subtext;
				font-size: 15px;
				margin: 10px 0 0;

				a {
					text-decoration: none;
					color: $subtext;
				}
			}
		}

		h3 {
			margin: 0;
		}

		#respond {
			margin: 0;
			border: 0;
			padding: 0;
		}

		#comment {
			height: 75px;
		}

		#comments {
			.add_review {
				@include clearfix();
			}

			h2 {
				clear: none;
			}

			ol.commentlist {
				@include clearfix();
				margin: 0;
				width: 100%;
				background: none;
				list-style: none;

				li {
					padding: 0;
					margin: 0 0 1em;
					border: 0;
					position: relative;
					background: 0;
					border: 0;
					border-bottom: 1px solid #e2e2e2;

					&:last-child{
						border-bottom: 0;
					}

					.meta {
						color: $subtext;
						font-size: 0.75em;
					}

					img.avatar {
						float: left;
						position: absolute;
						top: 0;
						left: 0;
						padding: 3px;
						height: 3.6em;
						width: 3.6em;
						border: none;
						background: none;
						margin: 0;
						border-radius: 100%;
						box-shadow: none;

					}

					.comment-text {

						margin: 0 0 0 50px;
						border: none;
						border-radius: 4px;
						padding: 0 1.5em;
						@include clearfix();
						display: flex;
						flex-wrap: wrap;

						p {
							margin: 0 0 1.7em;
						}
						
						p.meta,
						meta{
							order: 1;
							width: 100%;
							font-size: 1em;
							margin-bottom: .2em;
						}

						.description{
							font-style: italic;
							order: 3;
							width: 100%;
						}

						.star-rating{
							order: 2;
							margin-bottom: .5em;
						}
					}
				}

				ul.children {
					list-style: none outside;
					margin: 20px 0 0 50px;

					.star-rating {
						display: none;
					}
				}

				#respond {
					border: 1px solid darken( $secondary, 3% );
					border-radius: 4px;
					padding: 1em 1em 0;
					margin: 20px 0 0 50px;
				}
			}

			.commentlist > li::before {
				content: '';
			}
		}

		@media (min-width: $col-md) {
			#comments {
				width: 55%;
				float: left;
			}
			#review_form_wrapper {
				width: 45%;
				float: right;
				padding-left: 2em;
			}
		}

		#review_form {
			border: 2px solid #efefef;
			padding: 1em 1.9em 2.3em;

			#respond{
				p{
					margin: 2px 0 6px;
					
					&.form-submit {
						margin-top: 1em;
					}

					&.comment-form-author,
					&.comment-form-email{
						margin-bottom: 1em;
						label{
							display: inline-block;
							min-width: 100px;
						}
					}
				}
				#comment {
					height: 90px;
				}
			}
			
			input{
				max-width: 100%;
			}
		}
	}

	/**
	 * Star ratings
	 */
	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1;
		font-size: 1em;
		width: 5.4em;
		font-family: 'star';

		&::before {
			content: '\73\73\73\73\73';
			color: darken( $secondary, 10% );
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}

		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}

		span::before {
			content: '\53\53\53\53\53';
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.woocommerce-product-rating {
		@include clearfix();
		line-height: 2;
		display: block;

		.star-rating {
			margin: 0.5em 4px 0 0;
			float: left;
		}
	}

	.products .star-rating {
		display: block;
		margin: 0.5em auto 0;
		float: none;
	}

	.hreview-aggregate .star-rating {
		margin: 10px 0 0;
	}

	#review_form #respond {
		@include clearfix();
		position: static;
		margin: 0;
		width: auto;
		background: transparent none;

		.form-submit input {
			left: auto;
		}

		textarea {
			box-sizing: border-box;
			width: 100%;
		}
	}

	p.stars {
		a {
			position: relative;
			height: 1em;
			width: 1em;
			text-indent: -999em;
			display: inline-block;
			text-decoration: none;

			&::before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				line-height: 1;
				font-family: 'WooCommerce';
				content: '\e021';
				text-indent: 0;
			}

			&:hover ~ a::before {
				content: '\e021';
			}
		}

		&:hover a::before {
			content: '\e020';
		}

		&.selected {
			a.active {
				&::before {
					content: '\e020';
				}

				~ a::before {
					content: '\e021';
				}
			}

			a:not( .active )::before {
				content: '\e020';
			}
		}
	}

	/**
	 * Tables
	 */
	table.shop_attributes {
		border: 0;
		border-top: 1px dotted rgba(0, 0, 0, 0.1);
		margin-bottom: 1.618em;
		width: 100%;

		th {
			width: 150px;
			font-weight: 700;
			padding: 8px;
			border-top: 0;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
			margin: 0;
			line-height: 1.5;
		}

		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
			margin: 0;
			line-height: 1.5;

			p {
				margin: 0;
				padding: 8px 0;
			}
		}

		tr:nth-child(even) td,
		tr:nth-child(even) th {
			background: rgba(0, 0, 0, 0.025);
		}
	}

	table.shop_table {
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0 -1px 24px 0;
		text-align: left;
		width: 100%;
		border-collapse: separate;
		border-radius: 5px;

		th {
			font-weight: 700;
			padding: 9px 12px;
		}

		td {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			padding: 6px 12px;
			vertical-align: middle;

			small {
				font-weight: normal;
			}
		}

		tbody:first-child tr:first-child {
			th,
			td {
				border-top: 0;
			}
		}

		tfoot td,
		tfoot th,
		tbody th {
			font-weight: 700;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.woocommerce table.shop_table,
	#customer_details {
		margin-bottom: 2em;
		border-radius:0;
	}

	table.my_account_orders {
		font-size: 0.85em;

		th,
		td {
			padding: 4px 8px;
			vertical-align: middle;
		}

		.button {
			white-space: nowrap;
		}

		.order-actions {
			text-align: right;

			.button {
				margin: 0.125em 0 0.125em 0.25em;
			}
		}
	}

	table.woocommerce-MyAccount-downloads {
		td,
		th {
			vertical-align: top;
			text-align: center;

			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: left;
			}
			.woocommerce-MyAccount-downloads-file::before {
				content: '\2193';
				display: inline-block;
			}
		}
	}

	td.product-name {
		dl.variation, .wc-item-meta {
			list-style: none outside;

			dt, .wc-item-meta-label {
				clear: both;
				margin-right: .25em;
				display: inline-block;
				list-style: none outside;
			}

			dd {
				margin: 0;
			}

			p,
			&:last-child {
				margin-bottom: 0;
			}
		}

		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}

	/**
	 * Cart sidebar
	 */
	ul.cart_list,
	ul.product_list_widget {
		list-style: none outside;
		padding: 0;
		margin: 0;

		li {
			padding: 4px 0;
			margin: 0;
			@include clearfix();
			list-style: none;

			a {
				display: block;
				font-weight: 700;
			}

			img {
				float: right;
				margin-left: 4px;
				width: 32px;
				height: auto;
				box-shadow: none;
			}

			dl {
				margin: 0;
				padding-left: 1em;
				border-left: 2px solid rgba(0, 0, 0, 0.1);
				@include clearfix();

				dt,
				dd {
					display: inline-block;
					margin-bottom: 1em;
				}

				dt {
					font-weight: 700;
					padding: 0 0 0.25em;
					margin: 0 4px 0 0;
					clear: left;
				}

				dd {
					padding: 0 0 0.25em;

					p:last-child {
						margin-bottom: 0;
					}
				}
			}

			.star-rating {
				float: none;
			}
		}
	}

	&.widget_shopping_cart,
	.widget_shopping_cart {
		.total {
			strong {
				min-width: 40px;
				display: inline-block;
			}
		}

		.buttons {
			@include clearfix();
			a {
				margin-right: 5px;
				margin-bottom: 5px;
			}
		}
	}

	/**
	 * Forms
	 */
	form .form-row {
		padding: 3px;
		margin: 0 0 6px;

		[placeholder]:focus::-webkit-input-placeholder {
			transition: opacity 0.5s 0.5s ease;
			opacity: 0;
		}

		label {
			line-height: 2;
			font-weight: bold;
			font-size: 13.5px;
			font-size: 0.9rem;
		}

		label.hidden {
			visibility: hidden;
		}

		label.inline {
			display: inline;
		}

		select {
			cursor: pointer;
			margin: 0;
		}

		.required {
			color: red;
			font-weight: 700;
			border: 0;
		}

		.input-checkbox {
			display: inline;
			margin: -2px 8px 0 0;
			text-align: center;
			vertical-align: middle;
		}

		input.input-text,
		textarea {
			box-sizing: border-box;
			width: 100%;
			margin: 0;
			outline: 0;
			line-height: 1;
		}

		textarea {
			height: 4em;
			line-height: 1.5;
			display: block;
			box-shadow: none;
		}

		.select2-container {
			width: 100%;
			line-height: 2em;
		}

		&.woocommerce-invalid {
			.select2-container,
			input.input-text,
			select {
				border-color: $red;
			}
		}

		&.woocommerce-validated {
			.select2-container,
			input.input-text,
			select {
				border-color: #111;
			}
		}

		::-webkit-input-placeholder {
			line-height: normal;
		}

		:-moz-placeholder {
			line-height: normal;
		}

		:-ms-input-placeholder {
			line-height: normal;
		}
	}

	form.login,
	form.checkout_coupon,
	form.register {
		border: 1px solid darken( $secondary, 10% );
		padding: 20px;
		margin: 2em 0;
		text-align: left;
		border-radius: 5px;
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0.25em 0 0.25em 22px;
			text-indent: -22px;
			list-style: none outside;
			input {
				margin: 3px 0.5ex;
			}
			label {
				display: inline;
			}
		}

		.amount {
			font-weight: 700;
		}
	}

	p.woocommerce-shipping-contents {
		margin: 0;
	}

	/**
	 * Order page
	 */
	ul.order_details {
		@include clearfix();
		margin: 0 0 3em;
		list-style: none;

		li {
			float: left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1;
			border-right: 1px dashed darken( $secondary, 10% );
			padding-right: 2em;
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;

			strong {
				display: block;
				font-size: 1.4em;
				text-transform: none;
				line-height: 1.5;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	.wc-bacs-bank-details-account-name {
		font-weight: bold;
	}

	.woocommerce-order-downloads,
	.woocommerce-customer-details,
	.woocommerce-order-details {
		margin-bottom: 2em;

		*:last-child {
			margin-bottom: 0;
		}
	}
	.woocommerce-customer-details {
		address {
			font-style: normal;
			margin-bottom: 0;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom-width: 2px;
			border-right-width: 2px;
			text-align: left;
			width: 100%;
			border-radius: 5px;
			padding: 6px 12px;
		}
		.woocommerce-customer-details--phone,
		.woocommerce-customer-details--email {
			margin-bottom: 0;
			padding-left: 1.5em;
		}
		.woocommerce-customer-details--phone::before {
			@include iconbefore( '\e037' );
			margin-left: -1.5em;
			line-height: 1.75;
			position: absolute;
		}
		.woocommerce-customer-details--email::before {
			@include iconbefore( '\e02d' );
			margin-left: -1.5em;
			line-height: 1.75;
			position: absolute;
		}
	}

	/**
	 * Layered nav widget
	 */
	.woocommerce-widget-layered-nav-list {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		.woocommerce-widget-layered-nav-list__item {
			@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			a,
			span {
				padding: 1px 0;
			}
		}
		.woocommerce-widget-layered-nav-list__item--chosen a::before {
			@include iconbefore( '\e013' );
			color: $red;
		}
	}
	.woocommerce-widget-layered-nav-dropdown__submit {
		margin-top: 1em;
	}

	.widget_layered_nav_filters ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;
		overflow: hidden;
		zoom: 1;

		li {
			float: left;
			padding: 0 1px 1px 0;
			list-style: none;

			a {
				text-decoration: none;

				&::before {
					@include iconbefore( '\e013' );
					color: $red;
				}
			}
		}
	}

	/**
	 * Product Saerch Widget
	 */
	.widget_product_search {
		button{
			flex: 0 0 auto;
			padding: 10px 20px;
		}
	}

	/**
	 * Product categories
	 */
	.widget_product_categories {
		.product-categories{
			.count{
				float: right;
			}
		}
	}

	/**
	 * Price filter widget
	 */
	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}

		.price_slider_amount {
			text-align: right;
			line-height: 2.4;
			font-size: 0.8751em;

			.button {
				font-size: 1.15em;
				float: left;
			}
		}

		.ui-slider {
			position: relative;
			text-align: left;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}

		.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 1em;
			height: 1em;
			background-color: $primary;
			border-radius: 1em;
			cursor: ew-resize;
			outline: none;
			top: -0.3em;
			/* rtl:ignore */
			margin-left: -0.5em;
		}

		.ui-slider .ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: 0.7em;
			display: block;
			border: 0;
			border-radius: 1em;
			background-color: $primary;
		}

		.price_slider_wrapper .ui-widget-content {
			border-radius: 1em;
			background-color: #444;
			border: 0;
		}

		.ui-slider-horizontal {
			height: 0.5em;
		}

		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}

		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}

	/**
	 * Rating Filter Widget
	 */
	.widget_rating_filter ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		li {
			@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			a {
				padding: 1px 0;
				text-decoration: none;
			}

			.star-rating {
				float: none;
				display: inline-block;
			}
		}

		li.chosen a::before {
			@include iconbefore( '\e013' );
			color: $red;
		}
	}

	/* Product Hover */
	.show-on-hover {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    right: 0;
	    bottom: 0;
	    padding: 0;
	    margin: 0;

	    opacity: 0;
	    filter: blur(0);
	    @include leap-transition();
	}

	li.product:hover .show-on-hover {
	    opacity: 1;
	    transform: scale(1) translateZ(0) translateY(0);
	    pointer-events: inherit;
	}

	.leap-return-to-shop {
		display: inline-block;
		margin: 5px 0;
		vertical-align: middle;
	}
	
	.up-sells,
	.related.products,
	.woocommerce-tabs {
		h2 {
			font-size: 1.5rem;
		}
	}

	.comment-reply-title {
		font-size: 1.5rem;
		line-height: 1.3;
	}

	/**
	 * Input Form elements
	 */
	.select2-container .select2-selection--single {
		height: auto;
		padding: 0.75em;

		.select2-selection__rendered {
			padding-left: 0;
		}
	}

	.select2-container--default .select2-selection--single {
		.select2-selection__rendered {
			line-height: 1.35;
		}
		.select2-selection__arrow {
			top: 50%;
			width: 1.7em;
			transform: translateY(-50%);
		}
	}
	.select2-search--dropdown .select2-search__field,
	.select2-results__option {
		padding: 6px 0.75em;
	}
}

.woocommerce,
.woocommerce-page {
	
	@media (max-width: $mx-col-sm) {
		/* Shop Page */
		.woocommerce-ordering{
			float: none;
			margin-bottom: 2em;
			width: 100%;
		}
		ul.products a.button {
			padding: .618em 1em;
			&.loading::after {
				display: inline-block;
				margin-left: 5px;
				position: initial;
			}
		}
	}
	ul.products {
		li.product {
			text-align: left;
			margin-bottom: 2.5em;

			&.product-category > a {
				display: inline-block;
				position: relative;
			}

			a{
				img{
					margin-bottom:.8em;
				}
			}
			.woocommerce-loop-product__title{
				margin-bottom:.5em;
				padding: 0;
				font-size: 1em;
			}
			.leap-woo-product-category {
				font-size: .85em;
				margin-bottom: .5em;
				display: block;
				line-height: 1.3;
				opacity: .6;
			}
			.star-rating {
				margin: 0 auto .5em 0;
				backface-visibility: hidden;
			}

			.leap-woo-shop-product-description{
				p{
					margin-bottom: .5em;
				}
			}
			.woocommerce-loop-product__link {
				position: relative;
				display: block;
				&:hover{
					.leap-shop-product-out-of-stock{
						background-color: rgba(255, 255, 255, 1);
					}
				}
			}
			&.product-category > a:hover{
				.woocommerce-loop-category__title{
					background-color: rgba(255, 255, 255, 1);
				}
			}

			.woocommerce-loop-category__title,
			.leap-shop-product-out-of-stock {
				position: absolute;
				background-color: rgba(255, 255, 255, 0.88);
				transition: background .3s;
				text-align: center;
				left: 1em;
				right: 1em;
				padding: 0.5em 0em 0.7em;
			}
			.woocommerce-loop-category__title{
				bottom: 1.8em;
				font-size: 0.9em;
				.count{
					font-size: .7em;
				}
			}
			.leap-shop-product-out-of-stock {
				bottom: 1em;
				text-transform: uppercase;
				font-weight: bold;
			}
			.price {
				line-height: 1.3;
				margin-bottom: 0;
				font-weight: 700;
				margin-bottom:.5em;
				font-size: .9em;
				del {
					display: initial;
				}
			}

			.button {
				margin-top: .5em;
				margin-bottom: .5em;
				white-space: normal;
    			line-height: 1.3;
				&.added{
					margin-bottom:0;
					transition: margin 0s;
				}
			}

			.woocommerce-loop-category__title {
				text-transform: uppercase;
				font-weight: bold;
				line-height: 1.5;

				.count {
					display: block;
					background: none;
					opacity: .5;
					font-size: .75em;
				}
			}
		}
	}
	.related.products {
		li.product:last-child {
			margin-right: 0;
		}
	}
	
	/*
	 * Common table style for woocommerce
	 */
	table.shop_table{
	    border: 1px solid #ebebeb;
	    border-radius: 0px;
		.product-thumbnail{
			img{
				width: auto;
				max-width: 70px;
			}
		}
		thead{
			background-color: #fbfbfb;

			th {
				border-width: 0;
			}
		}
		td,th{
			border-bottom-width: 0;
			padding: .7em 1em;
		}
		td{
			border-top: 1px solid #ebebeb;
		}
		.woocommerce-Price-amount{
			font-weight: 700;
		}
	}

	@media (min-width: $col-md) {
	
		#content .leap-woocommerce-container div.product div.images,
		.leap-woocommerce-container div.product div.images {
		    width: 50%;
		}

		#content .leap-woocommerce-container div.product div.summary,
		.leap-woocommerce-container div.product div.summary {
			width: 46%;
		}
	}


	#content {
		table.cart {
			td.actions .input-text {
				width: auto;
			}

			td {
				min-height: 3.25em;
				// ( top-bottom padding (1.4em) + line-height (1.85em) );
			}
			
			[name="coupon_code"] {
				max-height: 35px;
			}

			.button{
				display: inline-block;
				width: auto;

				&[name="apply_coupon"] {
					padding: 10px 40px;
				}
				@media (max-width: $mx-col-sm) {
					width: 100%;
				}			
			}

			@media (max-width: $mx-col-sm) {
				.product-thumbnail{
					display: block;
					text-align: center !important;

					&:before{
						display: none;
					}
				}

				td.actions .coupon {
					float: none;
					.button{
						flex: 1;
					}
				}
			}
		}

		@media (max-width: $mx-col-sm) {
			div.product{
				.woocommerce-tabs{
					ul.tabs{
						li{
							display: block;
							margin-right: 0;
							a{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

//Seperate container layout
.leap-separate-container{
	.leap-woocommerce-container{
		background-color: $color-background-content;

		@media (max-width: $mx-col-xl) {
			    padding: 3.34em 2.4em;
		}
		@media (max-width: $mx-col-lg) {
			    padding: 1.5em 2.14em;
		}
		@media (max-width: $mx-col-sm) {
				padding: .54em 1em 1.33333em;
		}

		@media (min-width: $col-xl) {
			    padding: 5.34em 6.67em;
		}
		.product {
		    border-bottom: 0;
		}
	}
	&.single-product {
		.leap-article-single{
			margin:0;
			padding:0;
			display: inline-block;
			width: 100%;
		}
	}
}

/**
 * Photoswipe
 * 1. These styles are required to overwrite default theme button styles (Twenty Twelve adds gradients via background-image).
 * 2. For zooming on mobile.
 */
.pswp {
	z-index: 999999;
}

.woocommerce,
.woocommerce-page {
	img.pswp__img {
		max-width: none; /* 2 */
	}
	.pswp__caption__center {
		text-align: center;
	}

	/* Popup for single product */ 
	.pswp__bg{
		opacity: .7 !important;
	}
	.pswp__ui--fit .pswp__top-bar,
	.pswp__ui--fit .pswp__caption{
		background-color: transparent;
	}
}

/**

 * Woocommerce common form design
 */
 .woocommerce,
.woocommerce-page{
	input[type=text], input[type=email], input[type=url], input[type=password], input[type=number], input[type=search], input[type=reset], input[type=tel], textarea, form .form-row textarea {
		box-shadow: none;
		border-radius: 0px;

		&:focus{
			box-shadow: none;
		}
	}
	select, .select2-container .select2-selection--single{
		padding: .75em;
		border: 1px solid #dddddd;
		border-radius: 0px;
		box-shadow: none;
		&:focus{
			outline:none;
		}
	}
}

button.pswp__button {
	box-shadow: none !important;
	background-image: url('../../../../../../../plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.png') !important;
}

button.pswp__button,
button.pswp__button:hover,
button.pswp__button--arrow--left::before,
button.pswp__button--arrow--right::before {
	background-color: transparent !important; /* 1 */
}

button.pswp__button--arrow--left,
button.pswp__button--arrow--right,
button.pswp__button--arrow--left:hover,
button.pswp__button--arrow--right:hover {
	background-image: none !important; /* 1 */
}

button.pswp__button--close:hover {
	background-position: 0 -44px;
}

button.pswp__button--zoom:hover {
	background-position: -88px 0;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background-color: lighten($secondary, 5%);
	color: $secondarytext;
	border-top: 3px solid $primary;
	list-style: none outside;
	@include clearfix();
	width: auto;
	word-wrap: break-word;

	&::before {
		font-family: 'WooCommerce';
		content: '\e028';
		display: inline-block;
		position: absolute;
		top: 1em;
		left: 1.5em;
	}

	.button {
		float: right;
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}


	@media (max-width: $mx-col-sm) {
		display: flex;
		flex-wrap: wrap;
		a.button{
			order: 1;
			margin-top: .5em;
		}
	}
}


.woocommerce-message {
	border-top-color: #8fae1b;

	&::before {
		content: '\e015';
		color: #8fae1b;
	}
}

.woocommerce-info {
	border-top-color: #1e85be;

	&::before {
		color: #1e85be;
	}
}

.woocommerce-error {
	border-top-color: #b81c23;

	&::before {
		content: '\e016';
		color: #b81c23;
	}
}

/**
 * Account page
 */
.woocommerce,
.woocommerce-account {
	.woocommerce {
		@include clearfix();
	}

	.addresses .title {
		@include clearfix();

		h3 {
			float: left;
		}

		.edit {
			float: right;
			padding: .7em 1em;
		}
	}

	ol.commentlist.notes li.note {
		p.meta {
			font-weight: 700;
			margin-bottom: 0;
		}

		.description p:last-child {
			margin-bottom: 0;
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&::before {
				@include iconbefore( '\e00a' );
			}

			.count {
				float: right;
			}
		}
	}

	h2{
		font-size: 1.625rem;	
	}

	.woocommerce-Addresses,
	.woocommerce-customer-details,
	.woocommerce-MyAccount-content{
		.woocommerce-Address-title,
		.woocommerce-column__title{
			background: #fbfbfb;
			padding: .5em;
			margin-bottom: 0;
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-color: #e5e5e5;

			h3{
				margin-bottom: 0;
			}
		}

		address {
			border: 1px solid rgba(0,0,0,.1);
			padding: 1em;
			border-radius: 0;
		}
	}
}

.woocommerce-Address h3,
.cart-collaterals h2 {
	font-size: 1.2rem;
	padding: .7em 1em;
}

/**
 * Cart/checkout page
 */
.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {
	table.cart {
		.product-thumbnail {
			min-width: 32px;
		}

		img {
			width: 32px;
			box-shadow: none;
		}

		th,
		td {
			vertical-align: middle;
		}

		td.actions .coupon .input-text {
			float: left;
			box-sizing: border-box;
			border: 1px solid darken( $secondary, 10% );
			padding: 6px 6px 5px;
			margin: 0 4px 0 0;
			outline: 0;
			line-height: 1;
		}

		input {
			margin: 0;
			vertical-align: middle;
			line-height: 1;
		}
	}

	.wc-proceed-to-checkout {
		@include clearfix;
		padding: 1em 0;

		a.checkout-button {
			display: block;
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.25em;
			padding: 1em;
		}
	}

	.cart-collaterals {
		.shipping_calculator {
			.button {
				width: 100%;
				float: none;
				display: block;
			}

			.shipping-calculator-button::after {
				@include iconafter( '\e019' );
			}
		}

		.cart_totals {
			p small {
				color: $subtext;
				font-size: 0.83em;
			}

			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;

				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}

				th {
					width: 40%;
				}

				td,
				th {
					vertical-align: top;
					border-left: 0;
					border-right: 0;
					line-height: 1.5em;
				}

				small {
					color: $subtext;
				}

				select {
					width: 100%;
				}
			}

			.discount td {
				color: $highlight;
			}

			tr td,
			tr th {
				border-top: 1px solid $secondary;
			}
		}

		.cross-sells ul.products li.product {
			margin-top: 0;
		}
	}
	.checkout {
		.col-2 {
			h3#ship-to-different-address {
				float: left;
				clear: none;
			}

			.notes {
				clear: left;
			}

			.form-row-first {
				clear: left;
			}
		}

		.create-account small {
			font-size: 11px;
			color: $subtext;
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
	}

	#payment {
		border-radius: 5px;

		ul.payment_methods {
			@include clearfix();
			text-align: left;
			padding: 1em;
			border-bottom: 1px solid darken( $secondary, 10% );
			margin: 0;
			list-style: none outside;

			li {
				line-height: 2;
				text-align: left;
				margin: 0;
				font-weight: normal;

				input {
					margin: 0 1em 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 0 0 0.5em;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}
			}

			li:not(.woocommerce-notice) {
				@include clearfix;
			}
		}

		div.form-row {
			padding: 1em;
		}

		div.payment_box {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding: 1em;
			margin: 1em 0;
			font-size: 0.92em;
			border-radius: 2px;
			line-height: 1.5;
			background-color: darken( $secondary, 5% );
			color: $secondarytext;

			input.input-text, textarea {
				border-color: darken( $secondary, 15% );
				border-top-color: darken( $secondary, 20% );
			}

			::-webkit-input-placeholder {
				color: darken( $secondary, 20% );
			}

			:-moz-placeholder {
				color: darken( $secondary, 20% );
			}

			:-ms-input-placeholder {
				color: darken( $secondary, 20% );
			}

			.woocommerce-SavedPaymentMethods {
				list-style: none outside;
				margin: 0;
				.woocommerce-SavedPaymentMethods-token,
				.woocommerce-SavedPaymentMethods-new {
					margin: 0 0 0.5em;
					label {
						cursor: pointer;
					}
				}
				.woocommerce-SavedPaymentMethods-tokenInput {
					vertical-align: middle;
					margin: -3px 1em 0 0;
					position: relative;
				}
			}

			.wc-credit-card-form {
				border: 0;
				padding: 0;
				margin: 1em 0 0;
			}
			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right 0.618em center;
				background-size: 32px 20px;

				&.visa {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/visa.svg');
				}

				&.mastercard {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/mastercard.svg');
				}

				&.laser {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/laser.svg');
				}

				&.dinersclub {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/diners.svg');
				}

				&.maestro {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/maestro.svg');
				}

				&.jcb {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/jcb.svg');
				}

				&.amex {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/amex.svg');
				}
				&.discover {
					background-image: url('../../../../../../../plugins/woocommerce/assets/images/icons/credit-cards/discover.svg');
				}
			}

			span.help {
				font-size: 0.857em;
				color: $subtext;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 1em;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: '';
				display: block;
				border: 1em solid darken( $secondary, 5% ); /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				top: -0.75em;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}

		.payment_method_paypal {
			.about_paypal {
				float: right;
				line-height: 52px;
				font-size: 0.83em;
			}

			img {
				max-height: 52px;
				vertical-align: middle;
			}
		}
	}
}

/**
 * Cart Page Styles
 */
.woocommerce-cart-form__cart-item {
	td.product-remove {
		text-align: center;

		a.remove {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

/**
 * Cart Page
 */
.woocommerce-cart {
		
	table.shop_table{
		td,th{
			border-right: 0;
		}
		.woocommerce-Price-amount,
		td.product-name{
			font-weight: 700;
		}
	}

	.cart-collaterals{
		.cross-sells{
			li.product{
				padding-bottom: 1em;
			}
		}
		.cart_totals,
		.cross-sells{
			padding: 0 20px;
		    border-width: 1px;
		    border-style: solid;
		    border-color: #ebebeb;
		    border-radius: 0;
		    margin-bottom: 2em;
			.shop_table{
			    border-top: 0;
			    border-left: 0;
			    border-right: 0;
			    border-radius: 0;
			}

			> h2{
    			margin: 0 -20px 20px;
    			background-color: #fbfbfb;
				border-bottom: 1px solid #ebebeb;
			}
		}
	}

	.hentry,
	ul.products {
		margin-bottom: 0;

		li.product {
			margin-bottom: 0;
		}
	}
	table.cart td.actions {
		.coupon {
			display: flex;
			align-items: center;
			margin: 5px 0;
			.input-text {
				padding: .5em .75em;
			}
		}
		.button {
			padding: .5em 1em;
			line-height: 1.5;
		}

		input.button{
			display: inline-block;
			width: auto;
		}
		
		@media (max-width: $mx-col-sm) {
			.leap-return-to-shop{
				display: block;
				text-align: center;
				margin-top: 1em;
			}
		}
	}

	/* Proceed to check out button */
	.wc-proceed-to-checkout{
		a.checkout-button{
			font-size: 1.1em;
			line-height: 1.8em;
		}
	}

	@media (max-width: $mx-col-sm) {
		.woocommerce-shipping-calculator .button {
			width: 100%;
		}
	}
}


/**
 * Checkout Page
 */
 .woocommerce,
.woocommerce-page{
	&.woocommerce-checkout {

		form.checkout.woocommerce-checkout:after {
			content: "";
			clear: both;
			display: table;
		}

		table.shop_table{
			thead{
				background: none;
			}
			th{
				padding: 14px 12px;
			}
			td{
				padding: 10px 10px 10px 0;
				border-color: #ebebeb;
				opacity: 0.8;
			}
			tfoot td{
				opacity: 1;	
			}
			td,th{
				border-bottom-width: 1px;
			}
		}
		#customer_details{
			h3{
				font-size: 1.2rem;
				padding: 20px 0 14px;
				margin: 0 0 20px;
				border-bottom: 1px solid #ebebeb;
			}
		}

		form {

			#order_review_heading {
				border-width: 2px 2px 0 2px;
				border-style: solid;
				font-size: 1.2rem;
				margin: 0;
			    padding: 1.5em 1.5em 1em;
			    border-color: #ebebeb;
			}

			#customer_details.col2-set {
				@media ( min-width: $col-md ) {
				    width: 55%;
				    float: left;
				    margin-right: 4.347826087%;
				    .col-1,
				    .col-2{
				    	float: none;
				    	width: auto;
				    }
				}
			}	
			#order_review{
				padding: 0 2em;
				border-width: 0 2px 2px;
				border-style: solid;
				border-color: #ebebeb;
				table{ 
				    border-width:0;
				}
				td,
				th{ 
				    border-top:0;
				    border-right:0;
				    padding-left:0;
				    border-color: #ebebeb;
				}
			}
			@media ( min-width: $col-md ) {
				#order_review, 
				#order_review_heading {
					width: 40%;
					float: right;
					margin-right: 0;
					clear: right;

				}
			}

			.form-row:last-child{
				margin-bottom: 0;
			}
		}

		#payment{
		    border-radius: 0;
			ul{
				&.payment_methods{
					padding: 0;
					margin-bottom: 1em;
					border-bottom: 0;
				}
			}
			div.payment_box{
				background-color: #efefef;
				&:before{
					border-bottom-color: #efefef;
				}
			}
			div.form-row {
				padding: 0 0 2em;
			}
			#place_order {
			   width: 100%;
			}
		}

		/* Ordered received style */
		.woocommerce-order{
			table.shop_table{
				th,td{
					padding: .7em 1em;
					border-bottom-width: 0px;
					&:last-child{
						border-right-width: 0px;
					}
				}
			}
			h2{
				&.woocommerce-column__title,
				&.woocommerce-order-details__title{
					background: #fbfbfb;
					padding: 1em;
					margin-bottom: 0;
					font-size: 1.3rem;
					border-width: 1px 1px 0 1px;
					border-style: solid;
					border-color: #e5e5e5;
				}
				&.wc-bacs-bank-details-heading{
					font-size: 1.5rem;
					border-top: 3px solid #ebebeb;
					padding-top: .5em;
				}
			}
			h3{
				font-size: 1.1rem;
			}

			ul.order_details{
				margin-bottom:2em;
			}
		}

		.woocommerce-customer-details{
			address{
				border-right-width:1px;
				border-bottom-width:1px;
				border-radius:0;
			}
		}
	}
}

.woocommerce {

	form {
		.form-row .required {
			text-decoration: none;
		}
		
		&.checkout_coupon {
			margin: 0;
			border: 0;
			padding: 0 0 2em;

			@media ( min-width: $col-md ) {
				width: 50%;
			}

			.form-row {
				margin: 0;
				padding: 0;
				float: none;
				display: inline-block;
			}
			[name="coupon_code"] {
				padding-top: 9px;
    			padding-bottom: 9px;
			}

			.button {
				padding: .5em 1em;
				vertical-align: initial;
				line-height: 1.35;
				&[name="apply_coupon"] {
					padding: 10px 40px;
				}
			}

			@media ( max-width: 420px ) {
				.form-row-first,
				.form-row-last {
					display: block;
					margin: 0 auto;
					width: 100%;
				}
				.form-row-first {
					margin-bottom: 10px;
				}

				.button[name="apply_coupon"] {
					width: 100%;
    				padding: 10px 5px;
				}
			}
		}
	}
}

.checkout_coupon .input-text {
    padding: .5em .75em;
}

/**
 * My Account Style
 */
.woocommerce-MyAccount-navigation-link {

	list-style: none;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom-width: 0;
	&:last-child{
		border-bottom-width: 1px;
	}
	&.is-active{
		a{
			background-color: #fbfbfb;
		}
	}
	a {
		display: block;
		padding: .5em 1em;
	}


}

.woocommerce-MyAccount-navigation > ul {
    margin: 0;
}

.woocommerce-account {
	.woocommerce-EditAccountForm {
		.woocommerce-Button {
			margin-top: 1em;
			margin-left: 3px;
		}
	}
}

/**
 * Widgets Style
 */

#secondary {
	.widget_layered_nav_filters > li,
	.widget.woocommerce > li {
		margin-bottom: 0;
	}
	
	.widget {

		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: block;
			min-height: 42px;
		}
		.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.select2-search__field {
			min-height: 42px;
			margin: 0;
		}
	}
}
.woocommerce {
	
	#secondary {
		.woocommerce ul.cart_list,
		.woocommerce ul.product_list_widget {
			margin: 0;
		}
	}

	.woocommerce ul.cart_list,
	.woocommerce ul.product_list_widget {
		li a {
			font-weight: normal;
		}
	}

	.widget_shopping_cart,
	ul.product_list_widget {
		.cart_list li,
		li {
			padding: .6em 0 .6em 5em;
			min-height: 5em;
			position: relative;
			border-bottom: 1px solid #e2e2e2;
			margin: 0;
			line-height: 1.5;

			&:last-child,
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.widget_shopping_cart .woocommerce-mini-cart__buttons {
		margin-bottom:0;
		a {
			display: inline-block;
			width: calc( 50% - 5px );
			margin-right: 5px;
			text-align: center;
		}

		.checkout.wc-forward {
			margin-left: 5px;
			margin-right: 0;
		}
	}

	/* Product Tag Cloud */
	&.widget_product_tag_cloud {
		.tagcloud {
			margin-top: 10px;
			display: inline-block;
			a {
				border: 1px solid $color-border-dotted-widget;
				padding: 0.5em 0.9em;
				display: inline-block;
				margin-bottom: 4px;
				font-size: 14px;
				margin-right: 4px;
				line-height: 1.5;
				@include leap-transition();    
			}
		}
	}

	.widget_shopping_cart .total,
	&.widget_shopping_cart .total {
		padding: 5px 0;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 1.3em;
	}

	ul.product_list_widget {

		li {
			img {
				position: absolute;
				left: 0;
				width: 4em;
				margin: 0 0 .5em 0;
				top: 50%;
    			transform: translateY(-50%);
			}
		}
	}
	
	ul.product-categories {

		> li {
	    	padding: 2px 0px;

	    	ul {
		    	li:before {
					content: "\e907";
				    padding: 0 5px 0 5px;
				    display: inline-block;
				    font-family: Wiz-font;
				    transform: rotate(-90deg);
				    font-size: 11px;
				    font-size: 0.7rem;
				}
	    	}

	    }

		> li:first-child {
			border:none;
		}
	}

	.widget {
		del {
			opacity: .5;
		}
		
		ins {
			background: inherit;
		}

		.amount,
		ins {
			font-weight: 700;
		}

		.star-rating {
		    margin: 5px 0;
		}
	}
	.widget_rating_filter{
		ul{
			li{
				a{
					display: inline-flex;
					align-items: center;
				}
			}
		}
	}
	

	.price_slider_amount {
		.price_label span {
			font-weight: 700;
		}
	}
	.widget_price_filter {
		.ui-slider-horizontal {
			height: .2em;
		}
		.ui-slider .ui-slider-handle {
			top: -.4em;
			cursor: pointer;
		}
		.price_slider_amount .button {
      		font-size: .9em !important;
    		padding: 8px 18px;
		}
		.price_slider {
			margin-bottom: 1.2em;
		}
		.price_slider_wrapper .ui-widget-content {
		    background-color: #ededed;
		}
	}

	.widget_product_tag_cloud {
		.tagcloud a {
			border: 1px solid #e2e2e2;
			padding: 0.5em 0.9em;
			display: inline-block;
			margin-bottom: 4px;
			margin-right: 4px;
			line-height: 1.5;
		    padding: .5em 1.2em;
		    font-size: 12px !important;
		    font-size: 0.8rem !important;
			
			a:hover,
			a:focus,
			a.current-item {
			    background-color: #fafafa;
			}
		}
		
	}
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {

	padding: .5em 1.8em .5em 5em;
	a.remove {
		position: absolute;
		left: auto;
		right: 0;
		top: .5em;
	}
}

.woocommerce-product-search {
	display: flex;

	.search-field {
		flex: auto;
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="submit"] {
		padding: 10px 15px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.widget_layered_nav_filters ul li.chosen {
	padding: 0 .5em;
	margin-right: .5em;
	background: rgba(245, 245, 245, .75);
	border-radius: 20px;
	font-size: .8em;

	&:hover {
		background-color:rgba(245, 245, 245, 1)
	}
	a {
		display: block;

		&::before {
			margin-right: .5em;
			color: #ff1111;
		}
	}
}

.woocommerce-terms-and-conditions {
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	background: rgba(0,0,0,.05);
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: center;
	font-weight: 600;
	padding: 3px 0.5em;
	font-size: 1em;

	&.strong {
		background-color: #c1e1b9;
		border-color: #83c373;
	}

	&.short {
		background-color: #f1adad;
		border-color: #e35b5b;
	}

	&.bad {
		background-color: #fbc5a9;
		border-color: #f78b53;
	}

	&.good {
		background-color: #ffe399;
		border-color: #ffc733;
	}
}

.woocommerce-password-hint {
	margin: 0.5em 0 0;
	display: block;
}

.leap-safari-browser-less-than-11 {

	&.leap-woocommerce-cart-menu {
		.header-main-layout-3{
			.main-header-container {
	  			display: block
	  		}
	  	}

	  	&.leap-header-custom-item-outside {
	  		.header-main-layout-3 { 
	  			.main-header-container {
			  		text-align: center;
			  	}
			}
			.leap-main-header-bar-alignment {
				display: inline-block;
			}
			.leap-sitehead-custom-menu-items {
				display: inline-block;
			}
		}
	}

	&.leap-woocommerce-cart-menu {
		&.leap-header-break-point {
			.header-main-layout-3{
				.main-header-container {
		  			display: flex;
		  		}
		  	}
		}
	}
}
