.customize-control-title .dashicons-editor-help {
    position: relative;
    top: 0.1em;
}
.customize-control-title{
	cursor: auto;
}
#customize-header-actions .spinner {
    margin-right: 4px;
}

/* slider control */
.customize-control-slider input[type=range] {
	-webkit-appearance: none;
	-webkit-transition: background .3s;
	transition: background .3s;
	background-color: rgba(0,0,0,.1);
	height: 5px;
	width: -webkit-calc(100% - 74px);
	width: calc(100% - 74px);
	padding: 0;
}
.customize-control-slider input[type=range]:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}
.customize-control-slider input[type=range]:hover {
	background-color: rgba(0,0,0,.25);
}
.customize-control-slider input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-ms-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 0;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-moz-range-track {
	border: inherit;
	background: transparent;
}
.customize-control-slider input[type=range]::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}
.customize-control-slider input[type=range]::-ms-fill-lower,
.customize-control-slider input[type=range]::-ms-fill-upper {
	background: transparent;
}
.customize-control-slider input[type=range]::-ms-tooltip {
	display: none;
}
.customize-control-slider .leap-range-value {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: 1px;
}
.customize-control-slider input#leap-range-value-input {
	width: 42px;
    height: 23px;
    font-size: 13px;
}
.customize-control-slider .leap-slider-reset {
	color: rgba(0,0,0,.2);
	float: left;
	-webkit-transition: color .5s ease-in;
	transition: color .5s ease-in;
}
.customize-control-slider .leap-slider-reset span {
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
}
.customize-control-slider .leap-slider-reset span:hover {
	color: red;
}

.control-section.leap-hide {
	display: none !important;
}

/**
 * Typography Control Style
 */
.customize-control.controls-inline {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    clear: none;
}
.customize-pane-child > li[id$="-content-layout"] > label,
.customize-pane-child > li[id$="-sidebar-layout"] > label {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.customize-pane-child > li[id$="-content-layout"] > label .customize-control-title,
.customize-pane-child > li[id$="-sidebar-layout"] > label .customize-control-title,
.customize-pane-child > li[id$="-content-layout"] > label select,
.customize-pane-child > li[id$="-sidebar-layout"] > label select {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.customize-pane-child > li[id$="-content-layout"] > label select,
.customize-pane-child > li[id$="-sidebar-layout"] > label select {
    margin-right: 10px;
}