.customize-control-leap-background {
  position: relative;
}

.customize-control-leap-background .wp-picker-container input[type="text"].wp-color-picker {
  max-width: 65px !important;
}

.customize-control-leap-background .screen-reader-text {
  top: initial;
}

.customize-control-leap-background .background-attachment h4,
.customize-control-leap-background .background-color h4,
.customize-control-leap-background .background-position h4,
.customize-control-leap-background .background-repeat h4,
.customize-control-leap-background .background-size h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.customize-control-leap-background .wp-picker-container .wp-color-result.button {
  min-height: 24px;
}

.customize-control-leap-background .background-repeat {
  margin: 15px 0 8px 0;
}

.customize-control-leap-background .background-attachment .buttonset,
.customize-control-leap-background .background-size .buttonset {
  display: flex;
  flex-wrap: wrap;
}

.customize-control-leap-background .background-attachment .buttonset .switch-label,
.customize-control-leap-background .background-size .buttonset .switch-label {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
  padding: 4px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.customize-control-leap-background .background-attachment .buttonset .switch-input:checked + .switch-label,
.customize-control-leap-background .background-size .buttonset .switch-input:checked + .switch-label {
  background-color: #298cbe;
  color: #fff;
}

.customize-control-leap-background .more-settings {
  margin-top: 12px;
  display: block;
  padding: 5px 0 5px 0;
  float: right;
}

.customize-control-leap-background .arrow-icon {
  margin-left: 5px;
}
