.leap-responsive-btns,
.customize-control-title {
  display: inline-block;
}

.leap-responsive-btns {
  float: right;
  line-height: 1;
  margin-top: 5px;
}

.leap-responsive-btns > li {
  margin-bottom: 0;
  display: none;
}

.leap-responsive-btns > li.active {
  display: inline-block;
}

.leap-responsive-btns button[type="button"] {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.leap-responsive-btns button[type="button"] > i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.customize-control-leap-responsive .input-wrapper input {
  display: none;
  width: calc(100% - 52px);
  float: left;
}

.customize-control-leap-responsive .input-wrapper input.active {
  display: inline-block;
}

.customize-control-leap-responsive .input-wrapper .leap-responsive-select {
  width: 50px;
  margin: 0;
  display: none;
  padding: .1em;
  margin-left: 2px;
}

.customize-control-leap-responsive .input-wrapper .leap-responsive-input.active + .leap-responsive-select {
  display: inline-block;
}
