.single .entry-content .gallery {
    margin-left: -10px;
	margin-right: -10px;
}

.gallery-caption {
	color: black;
    padding: 10px;
    border-radius: 0 0 2px 2px;
    border: 1px solid $color-border-gallery;
    border-top: none;
    font-size: 0.9em;
}
.gallery-icon {
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
    border: 1px solid $color-border-gallery;
    overflow: hidden;
}
.gallery-item {
	margin: 0;
	padding: 10px;
	border-radius: 2px;

    &:last-child {
        margin-bottom: 2em;
    }
}

/* Wiz Respnosive oEmbed Video container */

.leap-oembed-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    iframe, object, embed{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

body .leap-oembed-container {
    *{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
