.widget-title {
	font-weight: normal;
	margin-bottom: 1em;
	line-height: 1.5;
	border-bottom-style: solid;
    border-width: 2px;
    border-color: #eeeeee;
}

.widget {
	margin: 0 0 2.8em 0;

	&:last-child {
		margin-bottom: 0;
	}
	
	select {
		max-width: 100%;
	}

	ul {
		margin: 0;
		list-style-type: none;
	}
}

.widget_nav_menu {

	ul {

		ul.sub-menu {
			margin-top: 0.25em;
		}
		ul.sub-menu li {
		    padding-left: 20px;
		}
		ul.sub-menu a:after {
		    left: -20px;
		}
		ul.sub-menu ul a:after {
		    left: -40px;
		}
		ul.sub-menu ul ul a:after {
		    left: -60px;
		}
	}

	li {
		@include leap-transition();
	}
}

/* Search widget. */
.widget_search {
	.search-form {
		position: relative;
		padding: 0;
		background: initial;
		color: inherit;

		&:after {
			font-family: $font-family-wiz;
			font-size: 1.2em;
			font-weight: 600;
			content: "\e90d";
		    position: absolute;
		    top: 50%;
		    right: 15px;
		    transform: translate(0,-50%);
		}

		> label {
		    position: relative;
		}

		input[type="submit"],
		input[type="submit"]:hover,
		input[type="submit"]:focus {
		    padding: 13px 20px;
		    border-radius: 2px;
		    border: none;
		    top: 0px;
	    	right: 0px;
		    position: absolute;
		    color: transparent;
		    background: transparent;
		    max-width: 45px;
		    z-index: 2;
		}
	}
	.search-field,
	.search-field:focus {
	    width: 100%;
	    padding: 16px 45px 16px 15px;
	}
}

/* Widget - Archive */
/* Widget - Categories */
.widget_pages,
.widget_archive,
.widget_categories {
	ul.children {
		position: relative;
		margin-top: 5px;
	    width: 100%;
	    li {
		    padding-left: 20px;
		}
	}
	li {
		ul.children a:after {
		    left: -20px;
		}
		ul.children ul a:after {
		    left: -40px;
		}
	}
}

/* Tag Cloud */
.widget_tag_cloud {
	.tagcloud {
	    margin-top: 10px;
	    display: inline-block;
		a {
			border: 1px solid $color-border-dotted-widget;
		    padding: 0.5em 0.9em;
		    display: inline-block;
		    margin-bottom: 4px;
		    font-size: 14px;
		    margin-right: 4px;
		    line-height: 1.5;
		    @include leap-transition();    
		}
	}
}

/* Calender */
.widget_calendar {

	table,
	th,
	td {
		padding: 0;
		text-align: center;
	}

	table,
	th {
		border: none;
	}

	td {
		border-right: none;
		border-left: none;
	}

	caption {
	    line-height: 2.7em;
	}

	thead {
	    line-height: 2.5em;
		a {
			color: $color-background-active;
		    font-size: 1rem;
		    vertical-align: middle;
		}
		td {
		    vertical-align: middle;
		    font-weight: bold;
		}
		> tr > th {
			line-height: 2.5em;
		    border-bottom: 2px solid $color-border-widget;
		    border-top: 2px solid $color-border-widget;
		}
	}
	tbody {
	    line-height: 2.10em;
	    text-align: center;
		> tr {
			> td {
			    width: 14.2857%;
			}
		    &:first-child > td {
			    padding-top: 3px;
			}
		}
	}
	#today {
	    background: $color-background-active;
	}
}

//separate container content layout
.leap-separate-container{
	//two container content layout
	&.leap-two-container{
		#secondary{
			.widget{
				background-color: $color-background-content;
				padding: 2em;
				margin-bottom: 2em;
				@media (min-width: $col-md) {
					&:last-child{
						margin-bottom: 0;
					}
				}
				@media (max-width: $mx-col-sm) {
					padding-left: 1em;
					padding-right: 1em;
					margin-bottom: 1.5em;
				}
			}
		}
	}
}