/**
 *  Blog Common
 */

.page .entry-header {
	margin-bottom: 1.5em;
}

.entry-meta span:before:first {
	margin-left: 0px;
}

.entry-meta .comments-link:before {
    content: "\e906";
	font-family: Wiz-font;
	margin: 0px 5px;
}

.entry-meta .cat-links:before {
    content: "\e904";
	font-family: Wiz-font;
	margin: 0px 5px;
}

.entry-meta .posted-by:before {
    content: "\e901";
	font-family: Wiz-font;
	margin: 0px 5px;
}

.entry-meta .posted-on:before {
    content: "\e902";
	font-family: Wiz-font;
	margin: 0px 5px;
}

.entry-meta .tags-links:before {
    content: "\e910";
	font-family: Wiz-font;
	margin: 0px 5px;
}

.search .entry-header {
    margin-bottom: 1em;
}

.leap-single-post .entry-header {
		&.leap-header-without-markup,
		&.leap-no-title.leap-no-thumbnail {
			margin-bottom: 0;
		}
}

.entry-header {
    margin-bottom: 1em;
    word-wrap: break-word;
    + .leap-blog-featured-section{
    	margin-top:0.5em;
    }
}

.entry-content {
	word-wrap: break-word;
	p {
		margin-bottom: 1.6em;
	}
	.read-more a {
		padding: 10px 10px;
		border-radius: 16px;
		border: 1px solid #191919;
		background-color: #191919;
		color: #fff;
	}
}

.read-more {
	margin-bottom: 0;
}

.leap-no-thumb {
	.leap-blog-featured-section {
		margin-bottom: 0;
	}
	.entry-header {
		+ .leap-blog-featured-section{
			margin-top:0;
		}
	}
}

.leap-blog-featured-section {
	margin-bottom: 1.5em;

	.gallery {
		margin-bottom: 0;
	}
}

.error404 .page-header {
    margin-bottom: 1.5em;
	.page-title {
    	margin-bottom: 0;
	}
}

.blog, 
.archive,
.search {
	.entry-title {
		line-height: 1.3;
	}
}

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.page-title {
    margin-bottom: 1em;
    font-weight: normal;
}

.entry-title {
    margin-bottom: 0.2em;
}

.leap-article-post {
    margin-bottom: 2.5em;
}
.leap-article-post:last-child {
	margin-bottom: 0;
	border-bottom:0;
}

.search .site-content .search-form {
    margin-bottom: 3em;
}

.blog-layout-1 {
    /* 2 - Blog Thumbnail Styles */
    .post-thumb {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
}

.blog-layout-grid .site-main .leap-row{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
  }