.customize-control-leap-radio-image label {
  position: relative;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.customize-control-leap-radio-image .image label {
  width: 47%;
  margin: 3px;
}

.customize-control-leap-radio-image .image label img {
  width: 100%;
}

.customize-control-leap-radio-image input {
  display: none;
}

.customize-control-leap-radio-image input img {
  border: 1px solid transparent;
}

.customize-control-leap-radio-image input + label img {
  border: 1px solid #f1f1f1;
  background-color: #cccccc;
}

.customize-control-leap-radio-image input:checked + label img {
  -webkit-box-shadow: 0 0 3px 1px rgba(195, 195, 195, 0.5);
  box-shadow: 0 0 3px 1px rgba(195, 195, 195, 0.5);
  border: 1px solid #0085ba;
  background-color: #0085ba;
}

.customize-control-leap-radio-image input + label .image-clickable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
