.customize-control-leap-title .customizer-text {
    font-size: 14px;
    background-color: #ffffff;
    color: #525252;
    margin: 0px -12px;
    display: block;
}

.customize-control-leap-title .customize-control-title {
    padding: 7px 10px;
    margin-bottom: 0px;
}