.customize-control-leap-responsive-spacing .customize-control-title {
  display: inline-block;
}

.customize-control-leap-responsive-spacing .leap-spacing-responsive-outer-wrapper {
  display: flex;
  position: relative;
}

.customize-control-leap-responsive-spacing .leap-spacing-responsive-units {
  position: absolute;
  transform: translateY(-100%);
  font-size: 11px;
  text-transform: uppercase;
  top: 0;
  right: 0;
}

.customize-control-leap-responsive-spacing .leap-spacing-responsive-units li.single-unit {
  display: inline-block;
  margin-left: 6px;
  width: 16px;
  text-align: center;
  user-select: none;
  opacity: 0.7;
}

.customize-control-leap-responsive-spacing .leap-spacing-responsive-units li.single-unit.active {
  font-weight: bold;
  text-decoration: underline;
  opacity: 1;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper {
  display: none;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper li {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper li input.leap-spacing-input {
  text-align: center;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper.active {
  display: flex;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper span.leap-spacing-title {
  text-transform: uppercase;
  font-size: 10px;
  opacity: .75;
  font-weight: bold;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper .leap-spacing-input-item-link .leap-spacing-connected {
  display: none;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper .leap-spacing-input-item-link.disconnected .leap-spacing-disconnected {
  display: none;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper .leap-spacing-input-item-link.disconnected .leap-spacing-connected {
  display: block;
}

.customize-control-leap-responsive-spacing .input-wrapper .leap-spacing-wrapper .leap-spacing-input-item-link span {
  width: 35px;
  height: 28px;
  line-height: 26px;
  font-size: 14px;
  border: 1px solid #ddd;
}
