@mixin leap-transition( $property: all, $transition-time: 0.2s, $transition-function: linear ) {
    transition: $property $transition-time $transition-function;
}

@mixin leap-has-child-menu-item() {
    content: "\e907";
    display: inline-block;
    font-family: 'Wiz-font';
    font-size: 1rem;
    font-weight: bold;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    vertical-align: middle;

}

@mixin leap-border-radius( $size: 2px ) {
    border-radius: $size;
}