/**
 * 	Small Footer Layouts
 *
 */

.leap-footer-copyright-content {
	background-color: $footer-background-color;
	padding-top: 1em;
	padding-bottom: 1em;
}

.leap-footer-copyright {
    line-height: 1.85714285714286;
	position: relative;

	.nav-menu {
		a {
		    padding: 0 0.5em;
		}
	}
	/* Footer Widget sections */
	.widget-title,
	    .no-widget-text{
	        margin-bottom: 0;
	    }
	.widget{
		margin-bottom: 1em;
	    ul{
	        position: static;
	        border: 0;
	        width: auto;
	        a{
	            border: 0;
	        }
	    }
	    &:last-child {
		    margin-bottom: 0;
		}
	}
}

/* Auto width footer sections */
@media (min-width: $col-md ) {
	.leap-footer-copyright {

		.nav-menu {
			li {
			    margin: 0;
				&:first-child a {
				    padding-left: 0;
				}
				&:last-child a {
				    padding-right: 0;
				}
			}
		}
	}
}

/* Hide edit shortcut button */
.leap-footer-site-title .customize-partial-edit-shortcut-button {
	display: none;
}