
@import "../variables-site/structure";

	.copyright-footer-layout-2 {
		.leap-footer-copyright-section-1,
		.leap-footer-copyright-section-2 {
			text-align: center;
		}
		
		@media (min-width: $col-md) {
			.leap-footer-copyright-section-1 {
			    text-align: left;
				.menu-item {
					a {
						padding: 0 1em 0 0;
					}
				}
			}
			.leap-footer-copyright-section-2 {
			    text-align: right;
				.menu-item {
					a {
						padding: 0 0 0 1em;
					}
				}
			}
		}
	}

.leap-header-break-point {
	.copyright-footer-layout-2 {
		.leap-footer-copyright-section-2{
			margin-top: 1em;
		}
	}
}

@media screen and ( min-color-index:0 ) and ( -webkit-min-device-pixel-ratio:0 ) { 
    .leap-footer-copyright-wrap .leap-row:before { 
        display: block; 
    }
}