/* 2 - Small Footer */
@import "footer-copyright-layouts";
@import "footer-copyright-layout-1";
@import "footer-copyright-layout-2";

.site-footer {
	color: $footer-text-color;

	.widget-title {
		color: $footer-link-color;
	}

	a {
		color: $footer-link-color;
		&:hover,
		&:focus {
	    	color: $footer-link-hover-color;
	    }
	}

	ul {
	    margin: 0;
	    list-style-type: none;
	}

	.nav-menu li {
	    display: inline-block;
	}
}

@import "wiz-footer";
@import "wiz-footer-4col";