@font-face {
  font-family: 'WIZAncientOwl';
  src:  url('../fonts/WIZAncientOwl.eot?qwkeny');
  src:  url('../fonts/WIZAncientOwl.eot?qwkeny#iefix') format('embedded-opentype'),
    url('../fonts/WIZAncientOwl.ttf?qwkeny') format('truetype'),
    url('../fonts/WIZAncientOwl.woff?qwkeny') format('woff'),
    url('../fonts/WIZAncientOwl.svg?qwkeny#WIZAncientOwl') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="leapicon-"], [class*=" leapicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WIZAncientOwl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leapicon-AncientOwl:before {
  content: "\e900";
  color:#fab522;
}

.wiz-notice-text {
  padding-left: 20px;
}

.wiz-notice-text p {
  margin-top: 0px;
}
.leap-notice {
    display: flex;
    align-items: center;
    border: 0px;
    padding: 0px;
}

.wiz-notice-logo {
    padding: 24px;
    background-color: #2d2f4c;
}