input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type=reset],
input[type=tel],
select,
textarea {
	color: $color-text-input;
	padding: 0.75em;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: $color-border-input;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: none;
    box-sizing: border-box;
    @include leap-transition();
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus, 
input[type=reset]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
    background-color:#fff;
    border-color: $color-border-input;
    box-shadow: none;
}

input[type=reset],
input[type=reset]:hover,
input[type=reset]:focus,
input[type="submit"],
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"],
input[type="button"]:hover,
input[type="button"]:focus {
    box-shadow: none;
}

textarea {
	width: 100%;
}

