/**
 * Flexbox Framework
 *
 *  .leap - prefix
 *
 *  Flex classes generated as {prefix} + {css property - css value} .
 *
 *  E.g. Here '.leap' is a prefix.
 *
 *  .leap-flex
 *  .leap-flex-1
 *  .leap-flex-2
 *  .leap-flex-3
 *  .leap-flex-4
 *  .leap-flex-5
 *  .leap-inline-flex
 *  .leap-flex-direction-row
 *  .leap-flex-direction-row-reverse
 *  .leap-flex-direction-column
 *  .leap-flex-direction-column-reverse
 *  .leap-flex-wrap-nowrap
 *  .leap-flex-wrap-wrap
 *  .leap-flex-wrap-wrap-reverse
 *  .leap-justify-content-flex-start
 *  .leap-justify-content-flex-end
 *  .leap-justify-content-center
 *  .leap-justify-content-space-between
 *  .leap-justify-content-space-around
 *  .leap-align-items-flex-start
 *  .leap-align-items-flex-end
 *  .leap-align-items-center
 *  .leap-align-items-baseline
 *  .leap-align-items-stretch
 *  .leap-align-content-flex-start
 *  .leap-align-content-flex-end
 *  .leap-align-content-center
 *  .leap-align-content-space-between
 *  .leap-align-content-space-around
 *  .leap-align-content-stretch
 *  .leap-order-1
 *  .leap-order-2
 *  .leap-order-3
 *  .leap-order-4
 *  .leap-order-5
 *  .leap-flex-grow-1
 *  .leap-flex-grow-2
 *  .leap-flex-grow-3
 *  .leap-flex-grow-4
 *  .leap-flex-grow-5
 *  .leap-flex-shrink-grow-1
 *  .leap-flex-shrink-grow-2
 *  .leap-flex-shrink-grow-3
 *  .leap-flex-shrink-grow-4
 *  .leap-flex-shrink-grow-5
 *  .leap-flex-basis-grow-1
 *  .leap-flex-basis-grow-2
 *  .leap-flex-basis-grow-3
 *  .leap-flex-basis-grow-4
 *  .leap-flex-basis-grow-5
 *  .leap-align-self-auto
 *  .leap-align-self-flex-start
 *  .leap-align-self-flex-end
 *  .leap-align-self-center
 *  .leap-align-self-baseline
 *  .leap-align-self-stretch
 */

.leap {
    
    /*
    # LAYOUT
    ———————————————-
    display: flex | inline-flex;
    ———————————————-
     */

    &-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        @for $i from 1 through 5 {
            &-#{$i} {
                flex: $i;
            }
        }
    }
    &-inline-flex {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    /*
    ————————————————————————–
    # CONTAINER (for PARENT)
    ————————————————————————–

    # FLOW
    ————————————————————————–
    flex-flow: <‘flex-direction’> || <‘flex-wrap’>
    ————————————————————————–

    # DIRECTION
    ————————————————————————–
    flex-direction: row | row-reverse | column | column-reverse;
    ————————————————————————–
     */

    &-flex-direction-row {
        flex-direction: row;
    }
    &-flex-direction-row-reverse {
        flex-direction: row-reverse;
    }
    &-flex-direction-column {
        flex-direction: column;
    }
    &-flex-direction-column-reverse{
        flex-direction: column-reverse;
    }

    /*
    # WRAP
    ————————————————————————–
    flex-wrap: nowrap | wrap | wrap-reverse;
    ————————————————————————–
     */

    &-flex-wrap-nowrap {
        flex-wrap: nowrap;
    }
    &-flex-wrap-wrap {
        flex-wrap: wrap;
    }
    &-flex-wrap-wrap-reverse{
        flex-wrap: wrap-reverse;
    }

    /*
    ————————————————————————–
    # JUSTIFY CONTENT
    ————————————————————————–
    justify-content: flex-start | flex-end | center | space-between | space-around;
    ————————————————————————–
     */

    &-justify-content-flex-start {
        justify-content: flex-start;
    }
    &-justify-content-flex-end {
        justify-content: flex-end;
    }
    &-justify-content-center {
        justify-content: center;
    }
    &-justify-content-space-between {
        justify-content: space-between;
    }
    &-justify-content-space-around {
        justify-content: space-around;
    }

    /*
    ————————————————————————–
    # ALIGN – ITEMS
    ————————————————————————–
    align-items: flex-start | flex-end | center | baseline | stretch;
    ————————————————————————–
     */

    &-align-items-flex-start {
        align-items: flex-start;
    }
    &-align-items-flex-end {
        align-items: flex-end;
    }
    &-align-items-center {
        align-items: center;
    }
    &-align-items-baseline {
        align-items: baseline;
    }
    &-align-items-stretch {
        align-items: stretch;
    }

    /*
    ————————————————————————–
    # ALIGN – CONTENT
    ————————————————————————–
    align-content: flex-start | flex-end | center | space-between | space-around | stretch;
    ————————————————————————–
     */

    &-align-content-flex-start {
        align-content: flex-start;
    }
    &-align-content-flex-end {
        align-content: flex-end;
    }
    &-align-content-center {
        align-content: center;
    }
    &-align-content-space-between {
        align-content: space-between;
    }
    &-align-content-space-around {
        align-content: space-around;
    }
    &-align-content-stretch {
        align-content: stretch;
    }

    /*
    ————————————————————————–
    # ITEMS (for CHILDs)
    ————————————————————————–

    # FLEX
    ————————————————————————–
    flex: none | [ <‘flex-grow’> <‘flex-shrink’>? || <‘flex-basis’> ]
    ————————————————————————–
    ————————————————————————–

    # ORDER
    ————————————————————————–
    order: <integer>;
    ————————————————————————–
     */
    &-order-1 {
        order: 1;
    }
    &-order-2 {
        order: 2;
    }
    &-order-3 {
        order: 3;
    }
    &-order-4 {
        order: 4;
    }
    &-order-5 {
        order: 5;
    }

    /*
    ————————————————————————–
    # GROW
    ————————————————————————–
    flex-grow: <number>; default 0
    ————————————————————————–
     */

    &-flex-grow-1 {
        flex-grow: 1;
    }
    &-flex-grow-2 {
        flex-grow: 2;
    }
    &-flex-grow-3 {
        flex-grow: 3;
    }
    &-flex-grow-4 {
        flex-grow: 4;
    }
    &-flex-grow-5 {
        flex-grow: 5;
    }

    /*
    ————————————————————————–
    # SHRINK
    ————————————————————————–
    flex-shrink: <number>; default 1
    ————————————————————————–
     */
    &-flex-shrink-1 {
        flex-shrink: 1;
    }
    &-flex-shrink-2 {
        flex-shrink: 2;
    }
    &-flex-shrink-3 {
        flex-shrink: 3;
    }
    &-flex-shrink-4 {
        flex-shrink: 4;
    }
    &-flex-shrink-5 {
        flex-shrink: 5;
    }

    /*
    ————————————————————————–
    # ALIGN SELF
    ————————————————————————–
    align-self: auto | flex-start | flex-end | center | baseline | stretch;
    ————————————————————————–
     */

    &-align-self-auto {
        align-self: auto;
    }
    &-align-self-flex-start {
        align-self: flex-start;
    }
    &-align-self-flex-end {
        align-self: flex-end;
    }
    &-align-self-center {
        align-self: center;
    }
    &-align-self-baseline {
        align-self: baseline;
    }
    &-align-self-stretch {
        align-self: stretch;
    }
}

/*
Hide From Devices
————————————————————————–
 */
@media only screen and (max-width: 480px) {
    .hide-mobile { display: none !important; }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .hide-tablet { display: none !important; }
}
    
@media only screen and (max-width: 767px) {
    .hide-tablet-mobile { display: none !important; }
}
