// class to hide elements
.hidden {
	display: none !important;
}

body {
	background-color: $color-background-body;
}
// Page alignment
#page {
	display: block;
}
#primary,
#secondary {
	display: block;
	position:relative;
	float: left;
	width: $width-site-main;
}
#primary{
	margin: 4em 0;
}

#secondary{
	margin: 4em 0 2.5em;
	word-break: break-word;
	line-height: 2;

	@media (max-width: $mx-col-md) {
		&.secondary {
			padding-top: 0;
		}
	}

	li {
		margin-bottom: 0.25em;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

//separate container content layout
.leap-separate-container{
	background-color: $color-background-sep-content-body;
	#primary{
		padding: 4em 0;
		margin: 0;
		border: 0;
	}
	.site-main > .leap-row {
    	margin-left: 0;
    	margin-right: 0;
	}
	.leap-article-post,
	.leap-article-single{
		background-color: $color-background-content;
		border-bottom: 1px solid $color-border-content;
		 margin: 0;
		 padding: 5.34em 6.67em;
	}
	.blog-layout-1{
        padding: 0;
        /*background-color: $color-background-content;*/
        border-bottom: 0;
    }
	.leap-article-single {
		border-bottom: 0;
	}

	@media (max-width: $mx-col-xl) {
		.leap-article-post,
		.leap-article-single {
		    margin: 0;
		    padding: 3.34em 2.4em;
		}
	}
	@media (max-width: $mx-col-md) {
		.leap-article-post,
		.leap-article-single {
		    padding: 1.5em 2.14em;
		}
		#primary,
		#secondary{
			padding: 1.5em 0;
		}
		&.leap-right-sidebar{
			#secondary{
				padding-left: 1em;
			}
		}
		&.leap-right-sidebar{
			#secondary{
				padding-right: 1em;
			}
		}
		&.leap-two-container{
			#secondary {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	@media (max-width: $mx-col-sm) {
		.leap-article-post,
		.leap-article-single{
		    padding: 1.5em 1em;
		}
		#content .leap-container{
			padding-left: 0.54em;
			padding-right: 0.54em;
		}
		#secondary{
			padding-top: 0;
		}
	}
}


//page builder content layout
.leap-page-builder-template {

	.hentry {
		margin: 0;
	}
	.site-content > .leap-container {
		max-width: 100%;
	    padding: 0;
	}
	.site-content #primary{
		padding:0;
		margin:0;
	}
	.no-results {
	    text-align: center;
		margin: 4em auto;
	}

	.leap-pagination {
		padding: 2em;
	}

	.entry-header {
		&.leap-no-title.leap-no-thumbnail{
			margin-top: 0;
		}
		margin-top: 4em;
		margin-left: auto;
		margin-right: auto;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);

		&.leap-header-without-markup {
 			margin-top: 0;
 			margin-bottom: 0;
 		}

 		&.leap-no-title.leap-no-meta {
			margin-bottom: 0;
		}

		@media (max-width: $mx-col-md) { 
			margin-top: 1.5em;
		}
	}
	
	@media (max-width: $mx-col-md) {
		#secondary {
			margin-top: 1.5em;
		}
	}

	&.leap-left-sidebar {
		#secondary {
			padding-left: ($grid-gutter-width / 2);

			@media (max-width: $mx-col-md) {
				padding-right: ($grid-gutter-width / 2);
			}
		}
	}

	&.leap-right-sidebar {
		#secondary {
			padding-right: ($grid-gutter-width / 2);

			@media (max-width: $mx-col-md) {
				padding-left: ($grid-gutter-width / 2);
			}
		}
	}
	&.single .post-navigation {
		padding-bottom: 2em;
	}

	.leap-archive-description {
		margin-top: 4em;
		margin-left: auto;
		margin-right: auto;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
	}
}


@media (min-width: $col-lg) {
	// padding of the content
	.leap-separate-container{
		&.leap-right-sidebar #primary,
		&.leap-left-sidebar #primary,
		#primary {
		    margin: 4em 0 ;
		    padding: 0;
		}
	}
	// Right Sidebar - Spacing Between Primary & Secondary
	.leap-right-sidebar {
		#primary {
			padding-right: $space-between-primary-seconday * 2;
		}
		#secondary {
			padding-left: $space-between-primary-seconday * 2;
		}
	}

	// Left Sidebar - Spacing Between Primary & Secondary
	.leap-left-sidebar {
		#primary {
			padding-left: $space-between-primary-seconday * 2;
		}
		#secondary {
			padding-right: $space-between-primary-seconday * 2;
		}
	}
}

@media (max-width: $mx-col-lg) {
	.leap-separate-container{
		&.leap-right-sidebar #primary,
		&.leap-left-sidebar #primary,
		#primary{
			padding-left:0;
			padding-right:0;
		}
	}
	// Right Sidebar - Spacing Between Primary & Secondary
	.leap-right-sidebar {
		#primary {
			padding-right: $space-between-primary-seconday;
		}
		#secondary {
			padding-left: $space-between-primary-seconday;
		}
	}

	// Left Sidebar - Spacing Between Primary & Secondary
	.leap-left-sidebar {
		#primary {
			padding-left: $space-between-primary-seconday;
		}
		#secondary {
			padding-right: $space-between-primary-seconday;
		}
	}
}
@media (max-width: $mx-col-md) {
	// Right Sidebar - Spacing Between Primary & Secondary
	.leap-right-sidebar {
		#primary {
			padding-right: 0;
		}
		#secondary {
			padding-left: 0;
		}
	}

	// Left Sidebar - Spacing Between Primary & Secondary
	.leap-left-sidebar {
		#primary {
			padding-left: 0;
		}
		#secondary {
			padding-right: 0;
		}
	}
	#primary,
	#secondary {
		padding: 1.5em 0;
		margin: 0;
	}

	.leap-left-sidebar {
		#content > .leap-container {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;
		}
	}
}

//plain layout content side border
@media (min-width: $col-md) {
	.leap-right-sidebar {
		#primary {
			border-right: 1px solid $color-border-content;
		}
		#secondary{
			border-left: 1px solid $color-border-content;
			margin-left: -1px;
		}
	}
	.leap-left-sidebar {
		#primary {
			border-left: 1px solid $color-border-content;
		}
		#secondary{
			border-right: 1px solid $color-border-content;
			margin-right: -1px;
		}
	}
	.leap-separate-container{
		&.leap-right-sidebar,
		&.leap-left-sidebar {
			#primary {
				border: 0;
			}
			#secondary{
				border: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&.leap-two-container{
			&.leap-right-sidebar {
				#secondary {
					padding-left: $space-between-primary-seconday;
					padding-right: 0;
				}
			}
			&.leap-left-sidebar {
				#secondary {
					padding-right: $space-between-primary-seconday;
					padding-left: 0;
				}
			}
		}
	}
}
.elementor-page {
    #primary{
        margin: 0px;
        padding: 0px;
    }
}
