/**
 *  Header Sections
 *
 *  All sections within the header.
 *
 * Contents
 * 1 - Common
 * 2 - Social Follow
 * 3 - Site Logo
 * 4 - Search Form
 *
 * # Responsive
*/

/**
 * 1 - Common
 */
/* Default Padding For Nav */
.nav-style {
	display: block;
	padding: 0 15px;
}

.site-branding {
	line-height: 1;
}

.leap-site-identity {
	padding: 20px 0px;
}

.leap-menu-toggle {
	display: none;
	background: transparent;
	color: inherit;
	border-style: dotted;
	border-color: transparent;

	&:focus,
	&:hover {
		background: transparent;
		border-color: inherit;
		color: inherit;
	}
}

.socil-font {
	float: left;
	margin-right: 10px;
}

/**
 * 4 - Search Form & Main Header
 */
.main-header-bar{
	z-index: 4;
	position: relative;
	line-height: 4;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	.main-header-bar-navigation {

		&:empty {
		    padding: 0;
		}
		
		.children,
		.sub-menu {
			line-height: 1.45;
		}

		.page_item_has_children > a:after,
		.menu-item-has-children > a:after {
			@include leap-has-child-menu-item();
			line-height: normal;
		}

		.leap-search-icon {
			display: block;
			z-index: 4;
			position: relative;
		}

		.slide-search .search-field {
			&:focus {
				outline: none;
			}
		}
	}
}
.leap-search-menu-icon {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
	z-index: 3;
	right: auto;
	top: 50px;
	right: 30px;
	.wiz-search-icon {
		line-height: normal;
	}

	form {
		border-style: solid;
		line-height: 1;
		@include leap-border-radius();
		display: inline-block;
		backface-visibility: hidden;
		position: relative;
		color: inherit;
		margin: auto;
	}

	.search-field {
		border: none;
		transition: width .2s;
		border-radius: inherit;
		color: inherit;
		font-size: inherit;
		width: 240px;
		margin: 5px;
		&:focus {
			outline: none;
		}
	}

	.search-submit {
		display: none;

	}

	&.leap-dropdown-active {
		visibility: visible;
		opacity: 1;
		right: 0;
	}
}
li.leap-sitehead-custom-menu-items {
	padding: 0 1em;

	a {
		padding-left: 0;
		padding-right: 0;
	}
	a,
	a:hover,
	a:focus {
		background: transparent;
	}
	.leap-search-icon .wiz-search-icon {
		line-height: 1;
	}
}

.leap-primary-menu-disabled{
	
	.leap-sitehead-custom-menu-items {
		flex: 1;
		text-align: right;
	}

	&.header-main-layout-3 {
		.leap-sitehead-custom-menu-items {
			text-align: center;
		}
	}
	
	&.header-main-layout-2 {
		.leap-sitehead-custom-menu-items {
			text-align: left;
		}
	}	
}
.leap-sitehead-custom-menu-items{
	padding: 0 1em;
	.leap-search-icon .wiz-search-icon {
		line-height: 1;
	}
}
.main-header-menu {
	> .menu-item { 
		 > a {
			 border-bottom: 1px solid transparent;
		 }
	}
}
.main-header-menu {
	> .menu-item { 
		 > a {
			 border-bottom: 1px solid transparent;
		 }
	}
} 
.leap-header-break-point {

	&.leap-header-custom-item-outside {
		.leap-primary-menu-disabled{
			.leap-mobile-menu-buttons {
				display: none;
			}
		}
	}
	.site-branding{
		display: flex;
		flex: 1;
		align-self: center;
		padding-bottom: 1.5em;
	}
	ul li.leap-sitehead-custom-menu-items a {
		padding: 0;
		width: auto;
		display: initial;
	}

	li.leap-sitehead-custom-menu-items {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.leap-site-identity {
		padding: 0;
	}
	.main-header-bar-navigation {

		.page_item_has_children > a:after,
		.menu-item-has-children > a:after {
			display: none;
		}
	}

	.main-header-bar {
		display: block;
		padding: 1.5em 0 0;
		line-height: 3;

		.main-header-bar-navigation {
			line-height: 3;
			display: none;

			.children,
			.sub-menu {
				line-height: 3;
			}

			.page_item_has_children,
			.menu-item-has-children {

				.sub-menu {
					display:none;
				}

				> .leap-menu-toggle {

					display: inline-block;
					position: absolute;
					font-size: 0px;;
					top: -1px;
					right: 20px;
					cursor: pointer;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					padding: 0 0.907em;
					font-weight: normal;
					line-height: inherit;
					transition: all .2s;
					border-width: 0px;
					&::before {
						font-weight: bold;
						content: "\e907";
						font-family: 'Wiz-font';
						text-decoration: inherit;
						display: inline-block;
						font-size: medium;
					}
					&:hover {
						border-width: 0px;
					}
					&:focus {
						border-width: 0px;
					}
				}
			}
			.leap-submenu-expanded {
				>.leap-menu-toggle::before {
				   transform: rotateX(180deg);
				}
			}

			.main-header-menu {
				border-top: 1px solid #eaeaea;
			}
		}
	}

	/* Styling Nav */
	.main-navigation {
		display: block;
		width: 100%;
		.main-header-menu{
			text-align: center;
		}
		.leap-sitehead-custom-menu-items{
			display: block;
		}

		ul {
			> li:first-child {
				border-top: 0;
			}

			ul {
				left: auto;
				right: auto;
			}
		}

		li {
			width: 100%;
		}
		.widget {
			margin-bottom: 1em;
			li{
				width: auto;       
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	/* Main Header */
	.main-header-bar-navigation {
		width: calc( 100% + 40px );
		margin: 0 -20px;
	}
	.main-header-menu {
		ul ul {
			top: 0;
		}
	}

	&.leap-header-custom-item-outside {

		.leap-mobile-menu-buttons {
			order: 2;
		}

		.main-header-bar-navigation {
			order: 3;
		}

		.leap-sitehead-custom-menu-items {
			padding-bottom: 1.5em;
			order: 1;
		}

		.header-main-layout-3 {
			.leap-sitehead-custom-menu-items {
				text-align: center;
			}
		}
	}
}