/**
 * 	Header Common
 *
 * Contents
 * 1 - Common
 * 4 - Main Header Container
 * 6 - all and (max-width: $mx-break-point)
 * 7 - Auto Margin
*/

/**
 * 1 - Common
 */
.site-header {
    z-index: 99;
    position: relative;   
}

/**
 * 4 - Main Header Container
 */
.main-header-container {
    position: relative;
}

.main-header-bar-wrap {
    position: relative;

    .nav-fallback-text {
        float: right;
    }
    &::before {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }
}

.main-header-bar {
    border-bottom-style: solid;
}

/**
 * 5 - Transparent Header
 */
.leap-header-transparent {
    position: absolute;
    width: 100%;
}

/**
 * 6 - all and (max-width: $mx-break-point)
 */
.leap-header-break-point {

    .main-header-bar {
        border: 0;
    }

    .nav-fallback-text {
        float: none;
    }
    .leap-header-custom-item{
        border-top: 1px solid #eaeaea;
        .leap-sitehead-custom-menu-items{
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        .widget:last-child{
            margin-bottom: 1em;
        }
    }
}

/**
 * 7 - Auto Margin
 */
.main-header-bar {
    margin-left: auto;
    margin-right: auto;
    @include leap-transition();
}

.site-logo-img img {
    @include leap-transition();
}

/**
 * 8 - Header Widget Area
 */
 .leap-header-widget-area{
        line-height: 1.65;
        .widget-title,
        .no-widget-text{
            margin-bottom: 0;
        }
        .widget{
            margin: .5em;
            display: inline-block;
            vertical-align: middle;
            p {
                margin-bottom: 0;
            }
            ul{
                position: static;
                border: 0;
                width: auto;
                a{
                    border: 0;
                }
            }
            &.widget_search .search-field, 
            &.widget_search .search-field:focus {
                padding: 10px 45px 10px 15px;
            }
            &:last-child {
                margin-bottom: 0.5em;
                margin-right: 0;
            }
        }
    }
 .submenu-with-border{
    .leap-header-widget-area{
        .widget{
            ul{
                position: static;
                border: 0;
                width: auto;
                a{
                    border: 0;
                }
            }
        }
    }
}
.leap-header-break-point {
     .leap-header-widget-area{
        .widget {
            margin: .5em 0;
            display: block;
        }
    }
}

/**
 * 9 - Header Widget Area
 */
.leap-header-custom-item{
    .widget {
        margin: 0.5em;
        display: inline-block;
        vertical-align: middle;
        p {
            margin-bottom: 0;
        }
        li{
            width: auto;
        }
    }
}