/**
 * 	Header Layouts
 *
 * @import
 * 1 - Header Layout 1
 * 2 - Header Layout 2
 * 3 - Header Layout 3
 * 4 - Header Inline Logo & Site Title 
 * 5 - Next Button Menu Item
 * 6 - Responsive Style
*/

/* 4 - Next Button Menu Item */
.main-header-bar {
	z-index: 1;
}

/**
 * 1 - Header Layout 1
*/
.header-main-layout-1 {
	.main-header-bar-navigation {
		text-align: right;
		.sub-menu,
		.children {
			text-align: left;
		}
	}
	&.menu-left{
		.leap-main-header-bar-alignment {
			margin-right: auto;
			margin-left: 0;
		}
	}
	&.menu-right{
		.leap-main-header-bar-alignment {
			margin-left: auto;
			margin-right: 0;
		}
	}
	&.menu-center{
		.leap-main-header-bar-alignment {
			margin-right: auto;
			margin-left: auto;
		}
	}
	.leap-main-header-bar-alignment {
		margin-left: auto;
	}
	.main-navigation {
		padding-left: 15px;
		vertical-align: top;
	}
}
.leap-header-break-point {
	.header-main-layout-1 {
		.site-branding{
			padding-right: 1em;
		}
		.main-header-bar-navigation {
			text-align: left;
		}
		.main-navigation {
			padding-left: 0;
		}
	}
}
/**
 *  2 - Header Layout 2
*/
.header-main-layout-2 {
	.leap-search-menu-icon{
		right: auto;
		left: 30px;
		}
		.leap-dropdown-active{
			right: auto !important;
			left: 0;
		}
	.main-header-container	{
		  flex-direction: row-reverse;
	}
	&.menu-left{
		.leap-main-header-bar-alignment {
			margin-right: auto;
			margin-left: 0;
		}
	}
	&.menu-right{
		.leap-main-header-bar-alignment {
			margin-left: auto;
			margin-right: 0;
		}
	}
	&.menu-center{
		.leap-main-header-bar-alignment {
			margin-right: auto;
			margin-left: auto;
		}
	}
	.leap-main-header-bar-alignment {
		margin-right: auto;
	}
	.main-navigation {
		padding-right: 15px;
		ul {
			justify-content: flex-start;
		}
	}
	.main-header-bar-navigation {
		text-align: left;
	}
	.leap-header-custom-item{
		justify-content: flex-start;
	}
	.leap-sitehead-custom-menu-items{
		position: relative;
	}
}

.leap-header-break-point {
	.header-main-layout-2 {
		.leap-search-menu-icon{
		right: 30px;
		left: auto;
		}
		.leap-dropdown-active{
			right: 0 !important;
			left: auto;
		}
		.leap-mobile-menu-buttons {
			justify-content: flex-start;
		}
		.site-branding{
			padding-left: 1em;
			justify-content: flex-end;
		}
		.main-navigation {
			padding-right: 0;
		}
	}
}

.leap-site-title-wrap {
		padding-top: 10px;
}
/**
 * 3 - Header Layout 3
*/
.header-main-layout-3 {
	&.menu-right{
		.leap-main-header-bar-alignment{
			text-align: right;
		}
	}
	&.menu-left{
		.leap-main-header-bar-alignment{
			text-align: left;
		}
	}
	&.menu-center{
		.leap-main-header-bar-alignment{
			text-align: center;
		}
	}
	.leap-main-header-bar-alignment{
		text-align: center;
		line-height: 1;
	}
	.leap-search-menu-icon{
		right: auto;
		left: 30px;
		}
		&.search-icon{
		.main-header-container {
			.leap-sitehead-custom-menu-items{
				flex-direction: row-reverse;
				justify-content: space-between;
		.leap-search-menu-icon{
			right: auto;
			left: 30px;
			}
		.leap-dropdown-active{
			right: auto !important;
			left: 0;
			}
		}
	}
}
	

		.leap-dropdown-active{
			right: auto !important;
			left: 0;
		}
	.main-header-container {
		display: block;
	}
	.site-branding {
		text-align: center;
	}
	.site-title {
		justify-content: center;
	}
	.main-navigation {
		ul{
			justify-content: center;
		}
	}
	.main-header-bar-navigation {
		text-align: center;
		.sub-menu,
		.children {
			text-align: left;
		}
	}
	.leap-header-custom-item{
		justify-content: center;
		line-height: 1.85714285714286;
	}
	.leap-sitehead-custom-menu-items{
		position: relative;
	}
	.widget{
		text-align: center;
	}
}

.leap-header-break-point {
	.header-main-layout-3 {
		.leap-search-menu-icon{
		right: 30px;
		left: auto;
		}
		.leap-dropdown-active{
			right: 0 !important;
			left: auto;
		}
		.site-branding{
			display: block;
		}
		.leap-mobile-menu-buttons{
			text-align: center;
			display: block;
		}
		.site-branding,
		.leap-mobile-menu-buttons {
			padding-bottom: 1em;
		}
		.main-header-bar {
	    	padding: 1em 0 0;
	    }
	    .main-header-bar-navigation,
	    .widget {
			text-align: left;
		}
	}
}



/**
 * 4 - Header Inline Logo & Site Title 
*/
.leap-logo-title-inline{
	.leap-site-identity {
	    display: inline-flex;
	    vertical-align: middle;
	    align-items: center;
	}
	.site-logo-img{
		padding-right: 1em;
	}
	&.header-main-layout-3{
		.site-logo-img + .leap-site-title-wrap .site-title{
			justify-content: flex-start;
		}
	}
	.leap-site-title-wrap {
		padding-top: 0px;
	}
}

/* Mobile Header Alignment */
@media (max-width: $mx-col-sm) {
	.leap-header-break-point {
		.site-branding,
		#sitehead .site-logo-img .custom-logo-link{
			img{
				max-width: 100%;
			}
		}
		.leap-mobile-header-inline {
			.main-header-container {
				display: flex;
			}
			.site-branding {
				text-align: left;
			}

			.site-title {
				justify-content: left;
			}
		}
		.leap-mobile-header-stack {
			.main-header-bar{
				padding: 1em 0 0;
			}
			.main-header-container {
				display: block;
			}
			.site-title {
				justify-content: center;
				text-align: center;
			}
			.site-branding,
			.leap-mobile-menu-buttons {
				justify-content: center;
				text-align: center;
				padding-bottom: 1em;
				padding-right: 0;
			}
		}

		.leap-logo-title-inline{
			.leap-site-identity {
		    	display: block;
		    }
		    .site-logo-img{
				padding-right: 0;
			}
		}
	}
}

/**
 *  4 - Header Layout 4
*/
.leap-header-break-point{
	.header-main-layout-4 {
		.main-header-container{
			ul#primary-menu , ul#left-menu{
			position: static;
			width: 100%;	
		}
		}
		.leap-main-header-bar-alignment{
			flex: auto;
		}
		&.main-header-bar{
			.main-header-bar-navigation{
				display: block;
			}
		} 
	}
}

.header-main-layout-4 {
	.main-header-container
	{
		position: relative;
		display: flex;
		justify-content: center;
	}
	.leap-main-header-bar-alignment {
		flex: 0;
	}
	.site-branding
	{
		width: 20%;
		text-align: center;
		z-index: 2;
		.site-title
		{
			display: block;
		}
	}
	.main-header-container
	{
		ul#primary-menu
		{
			position: absolute;
			right: 0;
			top:0;
			width: 40%;
			
		}
		ul#primary-menu.leap-justify-content-flex-end
		{
			justify-content: flex-start;
			
		}
		ul#left-menu
		{
			position: absolute;
			left: 0;
			top:0;
			width: 40%;
		}
		ul#left-menu.leap-justify-content-flex-end
		{
			justify-content: flex-end;
		}

	} 
}

.main-header-bar{
	.leap-sitehead-custom-menu-items{
		&.search-box{
			.leap-search-icon{
				display: none;
			}
			.leap-search-menu-icon{
					width: 250px;
					visibility: visible;
					opacity: 1;
					position: static;
					display: block;
					transform: none;
					right: 0px;
					margin: auto;
				.search-submit{
					display: block;
					position: absolute;
					height: 100%;
					top: 0;
					right: 0;
					padding: 0 1em;
					-webkit-border-radius: 0;
					border-radius: 0;
					border: 0;
				}
				.search-field {
					width: 100%;
					margin: 0
				}
				.search-form {
					padding: 0;
					display: block;
					overflow: hidden;
					box-shadow: none;
				}
			}
		}
		&.search-icon{
			.leap-search-icon{
				display: block;
			}
			.leap-search-menu-icon{ 
					right: 30px;
				.search-submit{
					display: none;
				}
			}
			.leap-dropdown-active{
				visibility: visible;
				opacity: 1;
				right: 0;
			}
		}
	}
}
.search-box-shadow{
	form{
		box-shadow: 0 3px 13px 0 rgba(0,0,0,.2);
	}
}