.wiz-search-icon {
	vertical-align: middle;
}
.wiz-search-icon::before {
	content: "\e90d";
	font-family: 'Wiz-font';
	font-style: normal;
	font-weight: 600;
	text-decoration: inherit;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.leap-search-container{
	position: relative;
}
.leap-search-icon .wiz-search-icon {
	font-size: 1.3em;
}

.main-navigation {
	display: inline-block;
	font-weight:600;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: relative;
	}
}

.main-header-menu {

	a {
		text-decoration: none;
		padding: 1em;
		display: inline-block;
		@include leap-transition();
	}

	li {
		position: relative;

		&:hover > ul,
		&.focus > ul {
			left: 0;
			right: auto;
		}
	}

	ul {
		width: 240px;
		background: $color-background-header-submenu;
		left: -999em;
		position: absolute;
		top: 100%;
		z-index: 99999;
		@media (min-width: $col-md) {
			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
					right: auto;
				}

				&.leap-left-align-sub-menu:hover > ul,
				&.leap-left-align-sub-menu.focus > ul {
					left: -100%;
				}
			}
		}


		a {
			padding: 0.9em 1em;
			display: block;
			word-wrap: break-word;
		}

		li.page_item_has_children > a:after,
		li.menu-item-has-children > a:after {
			position: absolute;
			right: 1em;
			top: 50%;
			transform: translate(0, -50%) rotate(270deg);
		}

	}

}

.main-header-menu {
	ul {
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #eaeaea;
		ul{
			top: 0px;
		}
	}
}

.leap-header-break-point {
	.main-navigation {
		padding-left: 0;

		ul {
			li a {
				padding: 20px;
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid #dadada;
			}
			&.children li a,
			&.sub-menu li a {
			    padding-left: 30px;
			    &:before{
			    	content: "-";
    				margin-right: 2px;
			    }
			}
			&.children li li a,
			&.sub-menu li li a {
			    padding-left: 40px;
			    &:before{
			    	content: "--";
    				margin-right: 2px;
			    }
			}
			&.children li li li a,
			&.sub-menu li li li a {
			    padding-left: 50px;
			    &:before{
			    	content: "---";
    				margin-right: 2px;
			    }
			}
			&.children li li li li a,
			&.sub-menu li li li li a {
			    padding-left: 60px;
			    &:before{
			    	content: "----";
    				margin-right: 2px;
			    }
			}
		}
	}
	.leap-header-custom-item {
		background-color: $color-background-nav-mobile;
	}

	.main-header-menu {
		background-color: $color-background-nav-mobile;
		ul {
			background-color: $color-background-nav-mobile;
			position: static;
			opacity: 1;
			visibility: visible;
			border: 0;
			width: auto;
			li {
				&.leap-left-align-sub-menu:hover > ul,
				&.leap-left-align-sub-menu.focus > ul {
					left: 0;
				}
			}
		}
		li {
			&.leap-sub-menu-goes-outside:hover > ul,
			&.leap-sub-menu-goes-outside.focus > ul {
			    left: 0;
			}
		}
	}

	.submenu-with-border {
		ul {
			border: 0;

			a {
				border: 0;
			}
		}
	}
}

.leap-sitehead-custom-menu-items {
	-js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
